[2015-03-25 00:30] montanaflynn opened #1 "Unordered list styling"
In FirefoxDeveloperEdition the list item text gets pushed below the bullet point:

![screen shot 2015-03-24 at 5 28 53 pm](https://cloud.githubusercontent.com/assets/24260/6816056/5e5fd18a-d24b-11e4-9126-654bca09616d.png)

[2015-03-25 02:30] thibaultCha opened #2 "Drop the jQuery dependency"

[2015-03-27 22:16] ahmadnassri opened #3 "site says "alpha" everywhere else says "beta""

[2015-03-27 22:16] ahmadnassri opened #4 ""Follow instructions in the README." should link to README"

[2015-03-27 22:16] ahmadnassri opened #5 "should use mockbin.com for all examples"

[2015-03-27 22:16] ahmadnassri opened #6 ""Ping Us in IRC:Kong" should be "IRC: #mashape""

[2015-03-27 22:16] ahmadnassri opened #7 "Enterprise support: enterprise@getkong.org should be "sales@mashape.com""

[2015-03-27 22:17] ahmadnassri opened #8 "I put my email into site and got no confirmation email"
should send confirmation email if being added to a mailing list.

[2015-03-27 22:20] ahmadnassri opened #9 "support section should mention irc / gihub issues"
currently the support section only talks about enterprise paid support, should also include open-source support through github issues, IRC, gitter, etc ...

[2015-03-27 23:55] #3 closed

[2015-03-27 23:55] #4 closed

[2015-03-27 23:56] #7 closed

[2015-03-27 23:56] #6 closed

[2015-04-08 01:43] thibaultCha opened #12 "docs.html layout should be versioned"
[_layouts/docs.html](https://github.com/Mashape/getkong.org/blob/master/app/_layouts/docs.html) is what is on the left side of a documentation page. Not every version to document will have the same articles (in fact, the 2 versions we currently have already differ, resulting in a few 404s), and in the future there might be a lot more to it.

To dynamically generate it, we can either have a list of

[2015-04-08 01:47] thibaultCha opened #13 "Setup redirects to the latest docs version"
As mentioned in #10, we should redirect a request at `/docs/{latest,current}` to `/docs/x.x.x. This can only happen if we host getkong.org somewhere else of if we use something such as cloudflare.

Caveats:
- The process won't be automated

Or, during the website generation we can duplicate the content of the latest version into a new `latest/current` folder. It won't be redirects, but it'll be au

[2015-04-08 01:48] thibaultCha opened #14 "should download.html be versioned"
Are we fine with having the link to it under: `/docs/x.x.x/download`?

[2015-04-08 20:39] thibaultCha commented on #14
@ahmadnassri @montanaflynn @thefosk @Nijikokun

[2015-04-08 20:39] thibaultCha commented on #13
@ahmadnassri @montanaflynn @thefosk @Nijikokun

[2015-04-08 20:39] thibaultCha commented on #12
@ahmadnassri @montanaflynn @thefosk @Nijikokun

[2015-04-08 20:40] ahmadnassri commented on #12
best to keep in `kong_versions.yml`

reasons:

1. we limit to "supported" versions only (think enterprise LTS)
2. jekyll plugins make updating the site manual, whereas you can just leave it for gh-pages

[2015-04-08 20:41] ahmadnassri commented on #14
disagree, download.html should always point to the latest download, perhaps just add a link to "previous releases" which links back to github releases page (which acts as a nice to view & readable overview of changes and releases)

[2015-04-08 20:42] Nijikokun commented on #12
could just build on travis

[2015-04-08 20:43] thibaultCha commented on #14
Ok, then we don't give instructions for old installations if they change later. (Which is fine for now, I don't think it's something we need to worry about now)

(at some point we just thought it was better to version it too)

[2015-04-08 20:47] ahmadnassri commented on #13
shouldn't it be the other way around? `current` -> `x.x.x`

[2015-04-08 20:48] ahmadnassri commented on #14
ideally you want people to always get the latest and greatest, so the less visible old instructions / download methods are, the better for you to have less backward maintenance & support.

[2015-04-08 20:49] Nijikokun commented on #14
I agree with @ahmadnassri, the general solution is latest download w/ latest install guide otherwise people assume you still support older versions (LTS)

[2015-04-08 20:49] ahmadnassri commented on #12
if that's the case already, then no change, other point still stands to greater value I think

[2015-04-08 20:50] Nijikokun commented on #12
We could have have a list of "non-supported" versions for that, easier to maintain that list than a list of every version **plus** their pages.

[2015-04-08 20:52] ahmadnassri commented on #13
if its SEO that's the primary concern, then make the redirect pages have more meta / data in them ... (don't use the jekyll `redirect-from`)

just make ones manually and populate the redirect values from jekyll variables)

also, this would be easier if its in reverse. (`latest` to `x.x.x`)

[2015-04-08 20:53] Nijikokun commented on #13
There isn't a plugin we can use to mitigate this?

https://github.com/nquinlan/jekyll-pageless-redirects

[2015-04-08 20:53] ahmadnassri commented on #13
yes, but it outputs minimal HTML, and redirects using meta tags. so zero SEO.

[2015-04-08 20:54] Nijikokun commented on #13
Wouldn't that actually be better? Duplicate pages are bad in Googles crawler eyes.

[2015-04-08 20:56] ahmadnassri commented on #13
ask ranking experts (i'm not one), I'm only aware of crawler behaviors and know that meta redirect pages ARE crawled, and would properly indexed if you attach proper meta data.

[2015-04-08 20:57] ahmadnassri commented on #13
if SEO is no issue, then just use `jekyll-redirects` plugins.

but I would say reversing is still more meaningful to me.

[2015-04-08 20:58] Nijikokun commented on #13
https://github.com/tsmango/jekyll_alias_generator/blob/master/_plugins/alias_generator.rb

Does SEO friendly redirects

[2015-04-08 20:59] ahmadnassri commented on #12
wouldn't you just want to publish ONLY the supported pages on the website?

scenario:
when people bookmark an old version docs url, they come back and its 404, which is *good* as that's feedback for them to know its no longer supported, and start looking at new docs, realize update is needed.

[2015-04-08 21:00] ahmadnassri commented on #13
cloudflare: minimal, but would be manual every time .. I checked, even their API doesn't support changing page rules.

[2015-04-08 21:01] Nijikokun commented on #12
I think I am missing what your "*other point*" was then, I was assuming you meant supporting specific versions.

In my model originally it was just supported versions, I was going on assuming that you wanted both supported / non-supported. My mistake. Can you clarify what your "*other point*" is?

[2015-04-08 21:06] ahmadnassri commented on #12
other point:

so we're saying the same thing :)

:hand:

[2015-04-08 21:07] ahmadnassri commented on #12
to be exact:

- *do* delete old docs versions so they are not accessible on the web (even if not linked)
- use a versions file, or Jekyll collections or plugins or anything to automatically list versions, avoid manual work.

[2015-04-08 21:19] Nijikokun commented on #12
Yes, I think a plugin is the best suited for this or a part of the gulp deploy / build process that currently exists.

- Iterates over list of folders (obtains version number)
- Creates `kong_versions.yml` with list of pages for *each* version (sidebar support)
- Associates `latest:` configuration yaml value to handle with redirects for #13

Automated :+1:

[2015-04-08 21:44] ahmadnassri commented on #13
agreement on:

?

[2015-04-08 21:55] thibaultCha commented on #13
Yes, agreed. Actually if we use a plugin it could be automated, because the `versions.rb` plugin knows what's the latest version, so it can setup the redirects automatically (I mean create the redirect pages, assuming we are using meta tags)

[2015-04-08 21:55] thibaultCha commented on #14
:+1:

[2015-04-08 21:59] thibaultCha commented on #12
@ahmadnassri

Wait, are you saying we are currently versioning the docs for nothing?

[2015-04-08 22:00] thibaultCha commented on #12
I see. Well, I wanted to delete the beta docs once `0.2.0` (public release) is released, so, yeah, I guess we are on the same page.

[2015-04-08 22:02] thibaultCha commented on #12
Ok @Nijikokun , what you described is what `versions.rb` is doing (detecting version, detecting latest from `_data/versions.yml` (which could also contain some meta infos per release), so we're all good. Then it'll be automated.

A detail: the sidebar only supports 2 nested levels because of the UI

[2015-04-08 22:14] thibaultCha commented on #13
Actually, it would be best to do URI rewrite, so `/latest` is actually redirecting to `/x.x.x` but still shows `/latest`...

[2015-04-08 22:28] Nijikokun commented on #12
Yaml supports nesting

[2015-04-08 22:29] thibaultCha commented on #12
Of course, I'm saying the UI doesn't.

[2015-04-08 23:47] thefosk opened #15 "Distribution Packages"
Kong will be released with the following supported distributions:

- [x] Amazon Linux AMI (.rpm) **@thefosk**
- [x] CentOS 5/6/7 (rpm) **@thefosk**
- [x] Debian 6/7 (.deb) **@thefosk**
- [x] Ubuntu 12.04/14.04 (.deb) **@thefosk**
- [x] OS X
  - [x] pkg **@thefosk**
  - [x] [homebrew](thibaultcha/homebrew-kong) @thibaultcha
  - [ ] [script](https://gist.github.com/Nijikokun/189f84226f092dccd359) @N

[2015-04-08 23:48] thibaultCha commented on #15
No "raw"?

[2015-04-08 23:51] thibaultCha commented on #15
I updated the releases with checkboxes for what is done (we need to consider what is documented, aka written on [getkong.org/downloads]. And added the Mac OS install script written by @Nijikokun

[2015-04-08 23:52] thefosk commented on #15
Added "raw" (alias "Other")

[2015-04-08 23:53] thibaultCha commented on #15
:+1:

[2015-04-08 23:54] thibaultCha commented on #8
@rainum just pinging you because I think that's what christina was mentioning too earlier? ;)

[2015-04-09 10:06] rainum commented on #8
Resolved here https://mashape.atlassian.net/browse/KONG-42

[2015-04-09 10:06] #8 closed

[2015-04-10 11:13] orliesaurus opened #16 "Conf.yml or Kong.yml"
Should it be
[code]

or what I think

[code]
based on the first line referring to kong.yml not conf.yml

http://getkong.org/docs/0.1.1beta-2/getting-started/configuration/

P.s. it's the little things ;)

[2015-04-13 19:03] Nijikokun commented on #16
`/etc/kong/conf.yml` makes more sense than `/etc/kong/kong.yml`

[2015-04-13 19:06] ahmadnassri commented on #16
if keeping with nginx style: `/etc/nginx/nginx.conf` then it should be `/etc/kong/kong.yml`

[2015-04-13 19:07] SGrondin commented on #16
I agree with @ahmadnassri and @orliesaurus

[2015-04-13 20:45] thibaultCha commented on #16
Which is why it's currently kong.yml.

[2015-04-13 20:48] thibaultCha commented on #16
Should already be fixed if the docs were rewritten but keeping it open just in case.

[2015-04-14 00:46] thefosk opened #19 "Optional final slash in admin endpoints"
By appending the `-L` argument to every curl command.

[2015-04-14 03:52] ahmadnassri commented on #19
EVERY command? seems excessive, should only be for internal API calls that need it.

[2015-04-14 04:35] ahmadnassri opened #22 "code snippets"
two questions:

- should we standardize spacing? (e.g. some JSON snippets have 4 spaces, curl have 2)
- do we really need a dollar sign for bash snippets? makes it more annoying to copy-paste.

[2015-04-14 04:56] ahmadnassri opened #23 "extra html escaping in data attributes on render"
this will break any tracking events.

[code]

[2015-04-14 04:59] Nijikokun commented on #23
line? I never escaped anything.

[2015-04-14 05:01] ahmadnassri commented on #23
the escaping is on render.

I'm thinking its related to the redcapet config ... not sure who set that up, assumed it was you, this particular example is on [app/index.html#L69](https://github.com/Mashape/getkong.org/blob/master/app/index.html#L69)

[2015-04-14 05:10] ahmadnassri commented on #16
it is now.

[2015-04-14 05:11] ahmadnassri commented on #1
this seems to be not applicable anymore? old site design?

[2015-04-14 05:11] #1 closed

[2015-04-14 05:16] ahmadnassri commented on #5
closed via 2c2b230

[2015-04-14 05:16] #5 closed

[2015-04-14 05:17] ahmadnassri commented on #13
sure, if you're gonna write that plugin :)

[2015-04-14 05:19] ahmadnassri commented on #15
shouldn't this be on [Mashape/Kong](https://github.com/Mashape/kong) ?

[2015-04-14 05:20] ahmadnassri commented on #15
one point to add here, is that builds should work on travis and upload to Github Releases as release assets.

[2015-04-14 06:50] thibaultCha commented on #15
Don't think it's necessary for a beta. I think it's a better issue here than on Kong. It's docs.

[2015-04-14 06:50] thibaultCha commented on #15
First launch*

[2015-04-14 15:39] ahmadnassri commented on #15
sure, can be manual for now and automated later, just wanted to capture it in an issue/comment so we can track.

[2015-04-14 19:40] Nijikokun commented on #23
yeah, one thing is to just inject it via javascript instead of in the html.

[2015-04-15 20:49] #16 closed

[2015-04-15 22:49] thefosk commented on #15
So we do have `rpm`, `deb` and `pkg`. I need to create test cases and then we can update this issue.

[2015-04-17 01:35] #14 closed

[2015-04-20 12:08] thibaultCha commented on #19
Just for the trailing slash? I would rather add a trailing slash...

[2015-04-20 14:59] ahmadnassri commented on #19
agreed with @thibaultcha

[2015-04-20 18:08] thefosk commented on #19
This has been fixed in a separate branch that will be merged into master

[2015-04-20 18:12] thibaultCha commented on #19
What was fixed? How? What was the problem?

[2015-04-20 18:20] thefosk commented on #19
The trailing slash problem, by simply duplicating the endpoints since Lapis doesn't support regex-matching in routes.

[2015-04-20 20:41] montanaflynn commented on #22
and some [multi-line curl snippets](http://getkong.org/docs/0.1.1beta-2/getting-started/adding-your-api/#add-your-api-using-the-restful-api) are missing backslashes so they cannot be copy-pasted

![screen shot 2015-04-20 at 1 37 22 pm](https://cloud.githubusercontent.com/assets/24260/7239965/95069580-e762-11e4-89db-8487a30bbac3.png)

[2015-04-20 20:43] thibaultCha commented on #22
And what about the style? A dark theme would be nice:

![ckayo5xcd5swgxljlihdc-ksohbvds0arauaq0kfog8](https://cloud.githubusercontent.com/assets/1125431/7240049/9d8ab5c8-e7ae-11e4-9e5b-386240475baa.png)

But even nicer would be to properly style the inline <code> blocks:

![screenshot 2015-04-20 22 00 34](https://cloud.githubusercontent.com/assets/1125431/7240052/a06264ee-e7ae-11e4-8be6-ce8bfe0e64

[2015-04-20 20:44] thibaultCha commented on #22
I like it better with a dollar sign. It just means it's a command we are inviting you to execute and is easy to spot when quickly reading a guide.

[2015-04-20 20:45] Nijikokun commented on #22
`4` for cURL requests

[code]

[2015-04-20 20:51] Nijikokun commented on #22
Me and jitachi went over numerous colorings / styles, and have deduced that the red style stands out the most without appearing like a link (blue) or giving the page a dull look (grey), and without hurting eyes (green, yellow), the only alternative would be an orange or purple, but since we already have red we stuck with red.

[2015-04-20 20:53] ahmadnassri commented on #22
:-1: for rules as outlined by @nijikokun let's apply those and stick to them

[2015-04-20 20:55] thibaultCha commented on #22
Obviously. Only a suggestion.

[2015-04-20 20:56] ahmadnassri commented on #22
if nobody else is already on it, I can assign to myself and start cleaning up.

[2015-04-20 20:56] Nijikokun commented on #22
That would help out a lot, I'm currently cleaning up plugins.

[2015-04-20 23:57] montanaflynn commented on #22
Niji in your code example with backslashes remove:

[code]

when I copy and paste that I get: `zsh: command not found: --data`

[2015-04-21 00:01] thibaultCha commented on #22
Well you do need backslashes, there's no way around it

[2015-04-21 01:22] Nijikokun commented on #22
was just an example, but for you I will fix it :heart:

[2015-04-21 02:02] thibaultCha commented on #19
This might seem like a solution but since every other plugin will force people to use tralling slash, I think it is going to create **inconsistencies**. I would rather have a trailing slash **always** mandatory, than having it optional on some endpoints (where the endpoint is duplicated) and not there on other endpoints (when the developer did not implement a duplicated endpoint)

[2015-04-21 03:24] thefosk commented on #19
I wanted to do that too, but @Nijikokun @SGrondin and @montanaflynn really liked having supports for routes with and without a final slash, and without any redirect, so that's why I introduced it. The only thing is that we are duplicating routes, and as you said it could lead to inconsistencies in the future, although inconsistencies could be fixed by not allowing plugins to create routes using th

[2015-04-21 05:14] montanaflynn commented on #19
I only said that `POST /apis` should work. A 301 redirect would be fine with me.

[2015-04-21 05:33] thefosk commented on #19
Redirects are not automatically followed by curl, so for example if making a request to `POST /apis/` returns a `301` redirect to `/apis`, curl will not automatically follow it and nothing will happen unless the `-L` parameter is provided, so that's why this issue was originally labeled as: "Using -L in every curl command".

To just make every request work without additional curl arguments on, for

[2015-04-21 05:58] montanaflynn commented on #19
Thanks for clearing that up for me, I didn't know the reasoning behind adding curl's -L "Follow Redirects" flag and missed all the discussion between you @SGrondin and @Nijikokun.

On one hand I would prefer them to both "just work" but on the other I think adding a body with the error "missing trailing slash" is enough to avoid any confusion, especially if the solution's implementation adds techn

[2015-04-21 07:59] sinzone commented on #22
@Nijikokun you think green was hurting eyes more than red?

[2015-04-21 09:38] Nijikokun commented on #22
Yes
On Apr 21, 2015 12:59 AM, "Augusto Marietti" <notifications@github.com>
wrote:

[2015-04-21 10:17] thibaultCha commented on #22
I can totally see that. But #36 has a smaller padding and a new font, which looks better, so consider it.

[2015-04-21 10:21] Nijikokun commented on #22
It looks good :+1:

[2015-04-21 12:58] #9 closed

[2015-04-21 19:00] Nijikokun commented on #19
https://github.com/leafo/lapis/blob/master/lapis/application.lua#L339

Lapis supports a `default_route` on the router which would allow you to make them "just work" rather than a redirect.

A redirect is fine, I don't think that makes curl commands require a `-L`

[2015-04-21 20:08] thefosk commented on #19
The `default_route` is what I was adopting which triggers the redirect. Curl doesn't follow redirects by default unless the `-L` argument has been set.

A redirect it's just a regular HTTP response with a `301` status code and a `Location` header telling the client where the new location is. Curl doesn't do any magic unless told so.

[2015-04-21 20:35] thefosk commented on #19
This has been closed by implementing https://github.com/leafo/lapis/issues/276 which basically allows us to have the same behavior without redirects and `-L` arguments on curl.

[2015-04-21 20:35] #19 closed

[2015-04-21 21:00] Nijikokun opened #37 "Change luarocks required version to 2.2.0"
See Mashape/kong#132

[2015-04-21 23:43] montanaflynn opened #38 "Cassandra dependency"
The current location is easy to skip over and miss at first glance.

Right now we have dependencies listed as step one for "Other" which is where I would expect Casandra to be mentioned as well. We also mention that Cassandra must be running in the "Start Kong" section for all distributions except for Docker but I feel it should be clear it's a dependency before you get there.

![screen shot 2015-

[2015-04-21 23:50] montanaflynn opened #39 "Installation Support"
At the bottom of the installation instructions we have the text:

Instead of sending them to the docs which won't be of any use it would be better to send them to the  support page with our glitter channel and enterprise support options.

Text replacement could be like:

[2015-04-23 21:23] christinang89 opened #40 "Meta stuff website"
Please add the following to kong website:

### 1. Json-LD
[code]
- (replace image url with the mashape logo url)
![ape logo with text](https://cloud.githubusercontent.com/assets/5797207/7307778/e13c3b40-e9c3-11e4-8fa4-807b26ffad96.png)

### 2. VWO script
[code]

### 3. Existing meta property og:description
Please change to:

### 4. Share image
Please replace http://getkong.org/share.png image with

[2015-04-23 22:05] christinang89 opened #41 "Footer for Newsletter signup should appear on all pages, not just homepage"
Right now the footer is only shown on the homepage, please include it in all the pages, especially download/ install page.

![screen shot 2015-04-23 at 3 04 25 pm](https://cloud.githubusercontent.com/assets/5797207/7308519/1088fb26-e9ca-11e4-8bda-be552e4b6966.png)

[2015-04-23 22:27] Nijikokun commented on #41
The title could use rewording as well

[2015-04-24 17:20] #40 closed

[2015-04-24 19:07] christinang89 commented on #40
Thank you! Verified all working :)

[2015-04-25 00:09] christinang89 opened #43 "Events for newsletter subscription and enterprise demo request"
1. For the enterprise form and the newsletter updates, when you call identify, please also add "created_at" = datetime (unix time)

2. For the enterprise form, on submit, please also call analytics.track event for “request_enterprise_demo" with the properties.
Example:
[code]
3. For the newsletter updates, same thing, on submit, please call analytics.track event for “request_newsletter_updates” wi

[2015-04-25 22:10] #22 closed

[2015-04-26 01:57] montanaflynn opened #48 "Broken kong.yml links"
The `kong.yml` links on the [download page](http://getkong.org/download/#centos) are broken, possibly in other places as well.

[2015-04-26 02:51] montanaflynn opened #49 "Better 404 page"
Let's discuss how we can improve the 404 page.

![screen shot 2015-04-25 at 3 13 03 pm](https://cloud.githubusercontent.com/assets/24260/7335701/7ff56542-eb84-11e4-84a3-4fc2eb242e51.png)

[2015-04-26 03:52] Nijikokun commented on #49
- **Go back** instead of homepage using window history.
- A better title than **D'oh** maybe something witty and funny from the **King Kong** movie or **Kong** related.

[2015-04-26 04:16] Nijikokun opened #50 "Request Transformation Plugin Page"

[2015-04-26 07:04] thibaultCha commented on #48
I fixed it already in one of the branches.

[2015-04-27 12:31] #48 closed

[2015-04-27 14:07] #43 closed

[2015-04-27 19:42] #50 closed

[2015-04-27 19:43] Nijikokun commented on #41
Fixed in master.

[2015-04-27 19:43] #41 closed

[2015-04-27 19:43] #39 closed

[2015-04-27 19:43] Nijikokun commented on #23
This has been fixed, and deployed.

[2015-04-27 19:43] #23 closed

[2015-04-27 22:42] montanaflynn commented on #13
What's the status on this? I wanted to link to quickstart but had to include the version...

[2015-04-27 23:40] christinang89 opened #53 "Default tweet text"
For the twitter button in the footer, please make it such that it will always tweet the same message regardless of the page that the user is at.

The message should be:

[2015-04-27 23:52] christinang89 commented on #49
@rainum for now, let's just do:
Sorry, the page you're looking for is not here.

* Go back to our [homepage](http://getkong.org) and try again
* Browse our [documentation](http://getkong.org/docs/) or [installation instructions](http://getkong.org/download/) to get started
* Check out our [community page] (http://getkong.org/community/) for support or to report an issue.

[2015-04-28 03:08] thefosk opened #56 "nginx configuration value is wrong"
At the page /docs/0.2.0-2/configuration/ the nginx configuration is not rendering the `{{*}}` placeholders (like `{{auto_worker_rlimit_nofile}}`) although they have been defined in the source.

[2015-04-28 03:09] thefosk commented on #37
Should be changed to `2.2.2`

[2015-04-28 08:08] #53 closed

[2015-04-28 08:22] #49 closed

[2015-04-28 09:02] thibaultCha commented on #37
Already done

[2015-04-28 09:02] #37 closed

[2015-04-28 12:09] #15 closed

[2015-04-28 15:10] #56 closed

[2015-04-30 13:32] thibaultCha opened #61 ""You are browsing an outdated version of the documentation""
Display a warning on top of every doc page when the user is not seeing the most recent version of the documentation. Include a link to the most recent version.

![screenshot 2015-04-30 15 29 55](https://cloud.githubusercontent.com/assets/1125431/7413683/0ba16902-ef4e-11e4-976c-ee5308043b46.png)

@jitachi Do you have guidelines or a mockup to implement this? Thanks

[2015-04-30 13:35] ahmadnassri commented on #61
we already have the yellow alert box, makes sense to use here.

[2015-04-30 13:37] thibaultCha commented on #61
I feel like the warning should be stronger.

[2015-04-30 13:41] ahmadnassri commented on #61
like a red-ish color?

sure, maybe. the rest of the style of the alert box works as is though.

[2015-04-30 13:43] thibaultCha commented on #61
We'll see when we'll implement it when we'll have another version out

[2015-04-30 21:02] montanaflynn commented on #13
I know @Nijikokun did a redirect, can we close this issue?

[2015-04-30 21:13] #13 closed

[2015-05-04 22:23] subnetmarco opened #64 "[guide] Cassandra"
We should write a little guide to install Cassandra.

[2015-05-04 22:26] montanaflynn commented on #64
More importantly a multi-node setup guide. Installing Cassandra is pretty simple:

[code]

[2015-05-06 16:11] montanaflynn opened #66 "Misaligned bullet-points in UL in Firefox"
Screenshot taken from: http://getkong.org/docs/0.2.0-2/about/what/

![screen shot 2015-05-06 at 9 10 47 am](https://cloud.githubusercontent.com/assets/24260/7497515/d6fe54e0-f3cf-11e4-8ef0-b95253c69d9f.png)

[2015-05-07 03:25] montanaflynn commented on #64
The guide to install Cassandra should probably cover installing Java as well

[2015-05-07 14:33] rainum commented on #66
14 years :laughing: https://bugzilla.mozilla.org/show_bug.cgi?id=36854

[2015-05-07 14:34] #66 closed

[2015-05-08 09:15] rainum commented on #12
@thibaultCha you can nest level as deep as you want. Maybe it not very beautiful, but it works

![nesting](https://cloud.githubusercontent.com/assets/846796/7533638/d4e9b2a0-f57b-11e4-8b1d-4716c4161559.png)

[2015-05-08 12:58] thibaultCha commented on #12
That was not the issue here. The issue is a reminder that we will need a versioned menu one day as soon as one version will have a new section. Having this being nested is nice and might allow use one of the solutions I proposed to fix this issue. Or maybe we'll use another solution, I don't know, but this is not closed.

[2015-05-08 16:04] rainum commented on #12
Documentation will have url like http://getkong.org/docs/{latest_version}. This URL pattern is more convenient and understandable because all docs URLs is like http://getkong.org/docs/{latest_version}/about/plugins/. To avoid problem with 404 on /docs URL I've modified ruby script, so now if you'll go to /docs you'll be redirected to /docs/{latest_version}.

To add new docs version you need to add

[2015-05-08 16:05] rainum commented on #12
Dropdown for docs version selection is on the way

[2015-05-10 03:11] thefosk commented on #64
+1 let's do it. @montanaflynn will you be able to take care of this? @jitachi can help if you need some UI

[2015-05-12 09:02] orliesaurus opened #69 "Better explanation of "PUT" admin api endpoint"
I think it needs some more writing to be more obvious

[2015-05-12 15:30] ahmadnassri opened #71 "add a search bar"
keeping it simple: link to Google search with "site:getkong.org SEARCH_TERM"

[2015-05-12 15:39] thibaultCha commented on #71
I'm not against it but just wanted to say that I hate search bars who just redirect you to google *pukes*. Makes me feel betrayed.

[2015-05-12 15:41] ahmadnassri commented on #71
I just don't want us to waste time on re-inventing the wheel on search or even in implement a UI for a 3rd party search widget

[2015-05-12 16:12] #69 closed

[2015-05-13 19:05] ahmadnassri opened #72 "create a "requirements" page"
- to list all required packages for installations across different distribution methods.
- to link from the download page with the text: "check all your dependencies are met, click here for a full list of requirements."

**NOTE** this is turning into an install debugging thread, i'll list everything here then separate out into individual tickets as applicable, for now using this as a draft space.

[2015-05-13 19:21] Nijikokun commented on #72
What do you think about directly mentioning requirements on the installation page rather than a link to a secondary page that could be overlooked?

[2015-05-13 19:25] ahmadnassri commented on #72
that would work as well ... i'm going through all the different distros now and gonna list all the requirements I find ... if the list becomes too big, a separate page might be cleaner ... if only a few, then within the download/install page should be fine ...

also for things like debian / ubuntu different versions would potentially require different requirements ... again will go through them al

[2015-05-13 20:03] ahmadnassri opened #73 "guide states adding a plugin to config, that's already added"
guide suggests [adding a plugin](http://getkong.org/docs/0.2.0-2/getting-started/enabling-plugins/): `Add keyauth under the plugins_available property in your Kong instance configuration file`

however, it seems all plugins are already added and enabled by default.

[2015-05-13 20:04] thibaultCha commented on #73
It's adding a plugin on an API, not on Kong.

[2015-05-13 20:12] ahmadnassri commented on #73
that's not what the text suggests.

[2015-05-13 20:13] thibaultCha commented on #73
Because for now all of them are enabled by default, might not be the case when we have a proper architecture. Otherwise idk, didn't write this.

[2015-05-13 20:14] thibaultCha commented on #73
And I think it's really fine, it makes people discover this property and know what it is used for.

[2015-05-13 20:15] Nijikokun commented on #73
The original text stated this, so I kept it, even though they are enabled by default the text allows you to understand where you will place third-party plugins or plugins that are not enabled by default should you come to a point where the plugin is not being invoked or ran at all.

[2015-05-13 20:15] ahmadnassri commented on #73
yeah, I don't think its a "problem" per say ... perhaps an adjustment of the text, an inexperienced user would potentially be confused to why the instructions are guiding him/her to do something that's already done ...

[2015-05-13 20:16] Nijikokun commented on #73
[code]

[2015-05-13 20:21] ahmadnassri commented on #73
:+1:

[2015-05-13 20:28] #73 closed

[2015-05-13 20:57] thibaultCha opened #78 "No dropdown"
There is no dropdown visible even when having multiple versions.

[2015-05-13 20:57] thibaultCha opened #79 "Re-enable uncss"

[2015-05-13 23:21] Nijikokun opened #80 "[guide] Document how the Proxy Layer API (8000) works."
Some users have been emailing with confusion surrounding the workings of the Proxy Layer API which resides on port `8000`

Perhaps a page where it is explained in detail, what headers are required *(even if only one)*, what features it supports, and the likes would cure the situation we currently face.

As it stands of now there are only glimpses into how it works:

http://getkong.org/docs/0.2.1/g

[2015-05-14 01:43] sinzone commented on #80
![] (https://i.imgur.com/j8jYI0X.png)

[2015-05-14 02:45] ahmadnassri commented on #80
agreed.

[2015-05-14 11:33] thibaultCha commented on #78
The link to latest in the dropdown is broken.

[2015-05-14 13:40] #79 closed

[2015-05-14 13:40] thibaultCha commented on #78
Both fixed

[2015-05-14 13:40] #78 closed

[2015-05-14 22:30] sinzone opened #82 "add "Try It""
Terminal simulator with an interactive tutorial to learn the basics of Kong.

Example: https://www.docker.com/tryit/

[2015-05-14 22:32] sinzone commented on #82
@Nijikokun what's the name of that tool that does virtual terminals in the browser?

[2015-05-14 22:40] Nijikokun commented on #82
There are quite a few:

- http://www.erikosterberg.com/terminaljs/
- http://terminal.jcubic.pl/
- http://gottox.de/terminal.js/

[2015-05-15 04:13] ahmadnassri commented on #82
will be very tricky for us, since we have an API for admin control, meaning parsing and mimicking cURL commands ... (vs. docker is pre-set cli commands)

better to use http://runnable.com/ and embed on site for an interactive setup with a REAL Kong instance ...

[2015-05-15 05:19] ahmadnassri commented on #82
here you go: http://runnable.com/VVVzgrrneBwFOSnA/

[2015-05-15 13:49] rainum commented on #82
Thanks @ahmadnassri! Can you tell me how can I embed this terminal window? Only with iframe or there is proper way to do this?

@sinzone where should we place this tutorial? Maybe I should create separate docs section for it like http://take.ms/MKqae?

[2015-05-15 14:39] ahmadnassri commented on #82
with runnable.com there doesn't seem to be an embed function, and it seems to be the same session / server for everyone ... perhaps pointing people there is one way to do it, they can fork and create their own instance.

[2015-05-15 17:54] sinzone commented on #82
"Try It" it's the header bar and it's a new page. not in the doc.

runnable is nice but too bad doesn't have embedded feature and unique sessions. so, we need to go back to terminal emulators and just show a subset of feature, excluding API admin.

[2015-05-15 19:47] ahmadnassri commented on #82
but there are no features without the admin API ... all you can do is "start" and "stop"

[2015-05-15 21:46] thibaultCha commented on #82
Well there is a PR to manipulate the data from the CLI too. It was not included in 0.3 but could have, we talked about it...

[2015-05-16 02:55] ahmadnassri commented on #82
if we get full control from the CLI, then we can build a faux terminal and use that for demos .... still a lot of work to mock everything vs. a real instance ...

[2015-05-18 11:21] rainum commented on #82
Ok, I think we should wait until Kong 0.3 is released. We will see than what we can do.

[2015-05-27 18:46] shashiranjan84 commented on #82
we can try to put TRY IT which is a link to Runnable.

[2015-05-29 00:51] orliesaurus opened #85 "all the latest redirect links are not pointing to the right location"
These links here:
https://github.com/Mashape/kong#documentation

kinda 404

[2015-06-02 00:44] thibaultCha commented on #85
Fixed with a8d2920be1d4a6b334e71362e7e19b3213238852. Give it some time so GH pages can propagate the changes.

[2015-06-02 00:44] #85 closed

[2015-06-02 03:12] ahmadnassri commented on #82
closed with 9e18deb4c16a9118099cf8c376059df14353df75

[2015-06-02 03:13] #72 closed

[2015-06-02 03:14] ahmadnassri commented on #12
can we close this now?

[2015-06-02 08:14] rainum commented on #12
I think we can, @thibaultCha @Nijikokun ?

[2015-06-02 11:59] thibaultCha commented on #12
No it's still not done? 0.3.0 will actually break it.

[2015-06-02 23:04] thefosk commented on #12
@rainum work full-time on this

[2015-06-02 23:05] thibaultCha commented on #12
The issue is that now 0.3.0 will have a new API documentation, and changing the current `docs.html` will break all the old versions of the docs. This is the exact use case this issue was trying to warn about. So now we have to find a way to separate the content of the sidebar on a per-version basis

[2015-06-03 01:45] thibaultCha opened #86 "0.3.0 documentation changes"
A to-be-improved list of things to document for the upcoming 0.3.0, with links to possible documentation when available:

- [x] Admin API
  - [x]  New routes to document in the sidebar, `/plugins_configurations` should be considered deprecated in favour of `/apis/{api}/plugins` mashape/kong#257
  - [x] Update the tutorials to use the new routing (`/apis/{api}/plugins` and `/consumer/{consumer}/key

[2015-06-03 07:03] sinzone commented on #86
Size payload plugin?

[2015-06-03 14:18] rainum commented on #12
@thefosk I don't know what structure will new docs have. So It would be better if we talk about this issue, when new docs will be ready.

[2015-06-03 14:20] thibaultCha commented on #12
We won't have time, this needs to be out before we release 0.3.0. It'll be basically the same structure except with a few more/less API routes.

[2015-06-03 14:26] rainum commented on #12
Okay, we can move menu items to separate file (.yml or .json) as it was in first page version. Today I have a lot of work with new analytics website, so I'll switch to Kong tomorrow, if you guys don't mind.

[2015-06-03 16:38] ahmadnassri opened #87 "implicit description of how to use DNS with Kong in production"
it occurred to me *(from customer feedback)* that the usage of `Host` header in examples are causing some confusion for people.

basically, its empowering the assumption that you need to call the proxy address directly and pass a `Host` header, where in a real-world implementation, you should be able to point any DNS address (domain / subdomain) to your proxy network address and no longer require

[2015-06-03 21:52] thefosk commented on #12
@rainum work full time on Kong - release it tomorrow.

[2015-06-04 02:56] montanaflynn commented on #82
When I go to to runnable I try to use the terminal in the bottom (not clicking Run) and it doesn't work because that container and port is no longer running.

There's also another bug in the demo, you need to add a `sleep 5` in main.sh between the request and starting Kong since the container won't be running by the time the script starts kong.

The biggest problem with sending people directly to

[2015-06-04 05:18] ahmadnassri commented on #82
@montanaflynn the runnable example was never meant to be used for this, @sinzone put it on afterwards as a temp.

you would have know this, and have the full context if you were around...

[2015-06-04 11:40] rainum commented on #12
I've added versioning for docs navigation. You need to simply create .yml file in `app/_data/` with version name in filename `docs_nav_%version%.yml`, like `app/_data/docs_nav_0.2.1.yml`.

Please check it yourself and close an issue if all is ok, @thefosk @thibaultCha

[2015-06-04 20:29] montanaflynn commented on #87
Here's a rough draft for the content: https://gist.github.com/montanaflynn/a3a9336384d42188a45e

Also to be potentially included (perhaps as separate sections?)

- Firewall for admin API
- Server Configuration (ulimit, etc...)

[2015-06-04 20:46] montanaflynn commented on #82
Alright then let's reopen this issue.

My demo with the guide and kong terminal loads super slow compared to [trykong.cloudbrain.io:8080](http://trykong.cloudbrain.io:8080) which doesn't support copy + paste. The javascript is built with browserify and is huge (2+ mb) so it might be best to preload it on getkong.org. I'm waiting for 0.3.0 to come out so I can add a cache header using response tran

[2015-06-04 20:46] thibaultCha commented on #87
Is this somehow related to #80? Basically just documenting how proxying works?

[2015-06-04 20:51] montanaflynn commented on #87
Yes it is related. I think this was specific to "production" where #80 is a general overview of Kong's proxy.

[2015-06-04 20:53] thibaultCha commented on #87
Then it should probably go like this:

- Explain how to add an API to Kong ("notice we're using port 8001, the Admin API)
- Add an API with a `public_dns` and a `path`
- Show how to make a request with a `Host` header
- Show that `X-Host-Override` also works ("check this out if you care using it from a browser and can't use the Host header")
- Request using the path ("check this out if you want to

[2015-06-04 21:03] Nijikokun commented on #87
#80 encompasses the entirety of the proxy layer, that includes any *production* related sections.

[2015-06-05 01:08] sinzone commented on #80
+1 @Nijikokun

[2015-06-05 22:24] thefosk commented on #71
https://swiftype.com

[2015-06-06 22:49] montanaflynn opened #88 "Request size limiting plugin doc"
In the configuration section of the [plugin page](http://getkong.org/plugins/request-size-limiting/) there's an extra trailing slash:

[code]

There's also an issue with `allowed_payload_size` missing the `value` prefix:

[code]

This worked:

[code]

[2015-06-06 22:54] #88 closed

[2015-06-06 22:54] thibaultCha commented on #88
Thanks!

[2015-06-08 18:27] thibaultCha commented on #86
Who removed the important comments that were posted below this? With the summary of how to document the Proxy layer? -_-

[2015-06-09 13:58] thibaultCha opened #89 "Document the OpenResty patch on source install"
Taken out from #86

[2015-06-09 13:59] thibaultCha commented on #86
#80 + #89

[2015-06-09 13:59] #86 closed

[2015-06-09 14:01] #12 closed

[2015-06-18 01:20] sinzone opened #96 "CASSANDRA Section in the Docs"
- [ ] Why Cassandra
- [ ] How to install Cassandra
- [ ] How to scale Cassandra

[2015-06-18 01:25] sinzone commented on #96
should be not long. Short, simple and straight to the point.

[2015-06-18 01:35] sinzone commented on #96
to check #84

[2015-06-18 01:44] sinzone opened #97 "Document OAuth2.0 Plugin"

[2015-06-18 01:44] sinzone opened #98 "Document Analytics Plugin"

[2015-06-18 11:07] thibaultCha commented on #98
Already done

[2015-06-25 18:56] thibaultCha commented on #98
It's here 199bb93f20904329f137b06e3dbd4862d51637d3

[2015-07-06 08:07] sinzone opened #103 "Meetup area update."
http://www.meetup.com/meetup_api/buttons/

[2015-07-14 02:34] sinzone opened #104 "Document Wildcard subdomain"

[2015-07-16 19:54] #98 closed

[2015-07-16 19:54] #97 closed

[2015-07-18 00:27] thibaultcha opened #106 "[guide] Going to production"
- How many nodes for any amount of traffic
- How many Cassandra nodes for a Kong cluster
- How to distribute and/or scale Kong
- How to load balance your traffic on a Kong cluster
- How to setup a production ready Cassandra cluster (authentication/authorization/multi-region)
- How to setup your DNS records to leverage the `Host` header #87
- How to upgrade Kong without downtime
- How and why to pr

[2015-07-18 00:46] thibaultCha opened #107 "[guide] Kong development (plugins + core)"
- How to install Kong for development
- How to develop a plugin for Kong
- How to develop on Kong's core. What is the philosophy of Kong-core and how is it organized?

[2015-07-18 00:58] sinzone commented on #107
we should do this, only once we pushed out plugins from the core.

[2015-07-18 01:28] thibaultCha commented on #96
Closing in favour of #64. They are really the same thing. A guide about Cassandra.

[2015-07-18 01:28] #96 closed

[2015-07-18 12:58] orliesaurus commented on #106
+1

[2015-07-18 19:45] montanaflynn opened #108 "Cannot view entire documentation sidebar"
Running Chromium on Ubuntu 15.10 I can't access the bottom of the sidebar. It fixes into position and doesn't have it's own scroll bar making the bottom overflow into the bottom of my screen. The only way to see it is by scrolling to the bottom of the page which then removes `position: fixed`

[2015-07-18 19:49] #104 closed

[2015-07-18 19:49] #89 closed

[2015-07-18 19:50] #87 closed

[2015-07-18 19:50] #80 closed

[2015-07-18 21:46] sinzone commented on #106
these questions can be in the FAQ too.

[2015-07-18 22:09] sinzone commented on #108
the problem was that when you are on API REF you scroll down and you don't know where you are at. since you lost the sidebar. and then you have to scroll up forever. so either make api ref attached to header or either put "scroll up" link bottom right to jump back to the top.

[2015-07-21 02:56] thibaultCha commented on #108
For now we removed the fixed position so that there is no this issue. When we'll switch to some real API documentation we'll be able to have nice doc that scales.

[2015-07-21 02:56] #108 closed

[2015-07-21 03:13] #61 closed

[2015-07-22 19:03] orliesaurus commented on #107
+1

[2015-07-24 18:54] ahmadnassri commented on #103
- [ ] programatically grab the next event meetup link

[2015-07-24 19:31] sinzone commented on #103
actually now that we have kong.meetup.com we need to put that under Meetup section:

"Join the Kong community near you or create a new meetup with "kong" as a topic:

![] (http://cl.ly/image/1L1y1n2R2u10/Image%202015-07-24%20at%2012.31.32%20PM.png)

[2015-07-24 19:33] ahmadnassri commented on #103
open a separate issue plz, this one is about the RSVP button

[2015-08-01 02:31] thefosk opened #112 "[guide] Upgrade Path"
Explain what is the recommended upgrade path to update to newer versions of Kong.

[2015-08-10 11:30] Rylon commented on #112
Thanks @thefosk, unfortunately due to historical reasons, our current platform is a little manual when it comes to provisioning new servers, so this limitation makes the upgrade path needlessly painful for us and difficult to automate (we're using Ansible).

If we were using something like EC2 then it would be a lot easier, but I think in-place upgrades should be considered to support all implemen

[2015-08-10 15:35] Rylon commented on #112
For the full picture, this is the error currently returned if you try to do an in-place upgrade and then restart the service:

[code]

[2015-08-10 22:05] thefosk commented on #112
@Rylon thanks for the error log, I know what the problem is. Let me see if I can push a patch to fix this problem in the future.

[2015-08-10 22:21] thefosk commented on #112
@Rylon Can you please tell me the result of:

[code]

And also the output of:

[code]

[2015-08-11 09:24] Rylon commented on #112
Thanks @thefosk !

I completed a manual upgrade to 0.4.1 recently, so this is the current output:

[code]

The error above was when we tried to do an in-place upgrade from 0.3.2 to 0.4.0. Of course the package upgrade works fine, but then you are no longer able to stop or restart the service, because the older 0.3.2 files are missing.

Hope that helps!
Thanks

[2015-08-12 22:33] sinzone commented on #71
algolia

[2015-08-13 18:38] ahmadnassri commented on #103
can close this if [meetup-map](https://github.com/Mashape/getkong.org/tree/meetup-map) branch is merged

[2015-08-13 18:42] ahmadnassri commented on #38
this has been addressed a while ago

[2015-08-13 18:42] #38 closed

[2015-08-22 06:37] ahmadnassri commented on #71
was gonna do this, but:

swifttype: we've reached the limit on the pro plan ... has to be upgraded. @thefosk
algolia: is not plug-and-play, require serializing data and sending data dumps to server @sinzone

[2015-08-22 06:39] ahmadnassri commented on #71
[google site search](https://www.google.ca/work/search/products/gss.html) is actually cheaper.

[2015-08-22 11:11] sinzone commented on #71
swyftye too expesnive, algolia is the best but requires tuning, google a bit meh.

[2015-08-22 15:19] ahmadnassri commented on #71
algolia is 100% manual setup (might as well use our own Elastic)

--

Ahmad Nassri

[2015-08-29 01:57] #103 closed

[2015-09-21 08:04] sinzone opened #129 "who is using kong? (page in about)"
logos and descriptions.

[2015-09-21 08:05] sinzone opened #130 "Is Kong PCI compliant? (page in about)"

[2015-09-21 17:52] ahmadnassri opened #131 "enterprise form sometimes does not work / hangs on the browser"
visitors are seeing endless loading screen after submission, though the submission comes through successfully.

[2015-09-23 20:00] tecnobrat opened #133 "Typo in plugins"
I happened to see this commit on master and noticed a typo:

https://github.com/Mashape/getkong.org/commit/435a669c792c61b06a7ab69f6f20aeba24b00fff#diff-6a85fb7217139444aad5835f005f4058R24

`outboud` => `outbound`

[2015-09-23 20:01] tecnobrat commented on #133
Mentioning @sinzone since they made the commit :)

[2015-09-23 20:59] gazsp commented on #107
+1 I'm also interested in Kong from a plug-in development point of view

[2015-09-24 11:16] sinzone commented on #107
@gazsp in the meantime: http://streamdata.io/blog/developing-an-helloworld-kong-plugin/

[2015-09-24 11:17] sinzone commented on #133
must have been very tired. forgot restricT too. thx @tecnobrat

[2015-09-24 11:22] sinzone commented on #133
fixed https://github.com/Mashape/getkong.org/pull/134

[2015-09-24 13:51] #133 closed

[2015-09-24 20:01] ahmadnassri opened #135 "describe "consumers" in detail and how to create applications vs. users etc ..."
currently the term "consumer" is abstract (as intended) and can be understood as many different things according to implementation ...
- [ ] explain the abstract terminology
- [ ] provide a couple of examples on how to mix applications, users, etc ..

[2015-09-25 15:04] ahmadnassri opened #136 "Chef template"

[2015-09-25 15:04] ahmadnassri opened #137 "Ansible template"

[2015-09-26 23:06] sinzone commented on #137
+1

[2015-09-26 23:10] sinzone commented on #129
+100

[2015-09-29 04:42] ahmadnassri opened #138 "link to AWS marketplace listing"

[2015-09-29 21:21] thefosk opened #139 "Error: no writecb in Transform class"
Sometimes, randomly, running `gulp` fails with the following exception:

[code]

[2015-09-29 22:31] thefosk commented on #139
Fixed after upgrading to node v4.1.1

[2015-09-29 22:31] #139 closed

[2015-09-30 18:10] ahmadnassri opened #140 "move benchmark instructions into site"
https://gist.github.com/montanaflynn/01376991f0a3ad07059c

[2015-10-01 02:35] #130 closed

[2015-10-01 02:35] #129 closed

[2015-10-01 03:46] sinzone opened #141 "add community tools after MEETUP area"
https://getkong.org/community/

content from: https://github.com/Mashape/kong/#community-resources-and-tools

[2015-10-02 19:37] gazsp commented on #107
Thanks!

[2015-10-02 22:57] sinzone opened #142 "request company field mandatory in enterprise demo"
![] (http://cl.ly/image/2p0C0F2l2C3m/Image%202015-10-02%20at%203.29.17%20PM.png)

[2015-10-03 00:10] #142 closed

[2015-10-11 16:02] ahmadnassri opened #144 "plugins need detailed endpoint definitions"
exactly like in Docs, all endpoints and methods need to be listed in an API Reference format.

[2015-10-11 18:23] sinzone commented on #144
+1

[2015-10-12 08:54] debraj-manna opened #145 "Documentation Error in Rate Limiting Doc"
There is a small documentation error in the rate limiting configuration [doc](https://getkong.org/plugins/rate-limiting/#configuration) the POST call should be mentioned as below:-

[code]

The plugin name is mentioned as `ratelimiting` rather than `rate-limiting`

There is a similar mistake in the installation [doc](https://getkong.org/plugins/rate-limiting/#installation).

[code]

[2015-10-13 05:13] debraj-manna commented on #145
Support asked me to open the bug in kong repo. So opened the [bug](https://github.com/Mashape/kong/issues/614) there & closing this one.

[2015-10-13 05:13] #145 closed

[2015-10-13 14:43] ahmadnassri commented on #145
@debraj-manna you had the correct location here ... the docs are in this repo rather than the other :)

sorry for the confusion.

[2015-10-13 14:59] ahmadnassri commented on #145
fixed.

[2015-10-26 01:36] sinzone opened #149 "implement ahmad idea for gitter"
add intercom badge that will just open gitter chat.  http://cl.ly/image/0V0X311m2823

[2015-10-28 02:23] ahmadnassri opened #153 "Terraform deployment method"

[2015-10-28 02:52] ahmadnassri opened #154 "downloading through downloadkong.org results in conflicting file names"
when downloading through `wget` the naming is shortened to `el5.noarch.rpm` instead of `kong-0.5.2.el5.noarch.rpm`.

this is certainly a `wget` related issue, however the docs reference the full name and some users are confused by this.

would be helpful to solve.

[2015-10-28 05:28] sinzone commented on #149
ping

[2015-10-28 05:51] ahmadnassri commented on #149
like my mother used to say: "you should have wished for a million dollars" ...

cuz it was already happening ...

[2015-10-28 05:51] #149 closed

[2015-10-30 06:46] #107 closed

[2015-10-30 06:46] thibaultCha commented on #107
(Written and deployed)

[2015-11-07 05:23] thibaultcha opened #159 "add unit of time (ms) to log basic log format latencies's properties"
https://getkong.org/plugins/tcp-log/ (in all logging plugins)

[2015-11-13 21:14] sonicaghi opened #161 "Add "CoreOS""
![](http://cl.ly/image/0o1G0c1B370b/Image%202015-11-13%20at%201.14.25%20PM.png)

[2015-11-17 09:18] gebrits opened #162 "Freature req: Bulk create apis"
Consider a multitenant environment where each new tenant requires configuring a couple of apis, all based on a fixed scheme.

It would be great if there was a bulk POST option to create multiple apis (in above example for 1 new tenant) at the same time.

Thoughts?

[2015-11-17 09:21] davecozens commented on #162
In an ideal world, when importing, if ID values are included in the config they should be updated if existing or inserted with same ID if not.

[2015-11-18 01:19] subnetmarco opened #163 "Better docs on headers appended by plugins"
For example in "Rate Limiting" and "Response Rate Limiting", explain what headers are appended to the response and also what status codes it's being returned in case of an error.

Same applies for "IP Restriction" plugin, etc.

[2015-11-18 03:32] sinzone opened #164 "add: Cloud page"
next to enterprise - simple form for gather kong cloud interest and show the world that we DO have a kong cloud pilot program. can also just redirect to demo form for now

[2015-11-19 05:57] #138 closed

[2015-11-23 20:14] thefosk opened #168 "Plugins docs"
Explain the implications of:
- Response Rate Limiting bulk endpoints
- Response Rate limiting response headers and status code
- Rate limiting response headers and status code
- Frequent Datastore calls for Rate Limiting plugins

[2015-12-05 23:11] thibaultcha opened #174 "Update plugin development guide's migrations chapter"
Changed since Kong 0.5.4

[2015-12-05 23:12] thibaultCha commented on #112
I did that in 0.5.4: https://github.com/Mashape/kong/blob/master/UPGRADE.md#suggested-upgrade-path

Close?

[2015-12-06 03:16] #112 closed

[2015-12-06 13:38] Rylon commented on #112
@thibaultCha that looks great, thanks! One clarification, where you say this:

"If you see the "Schema up to date" message, you only have to reload Kong"

Are there any other messages that may require more than a reload?

Thanks!

[2015-12-07 09:16] thibaultCha commented on #112
@Rylon Hmmmm nope; in fact, I don't see any other message that could be returned by `kong migrations`, except an error maybe, which would be more problematic. A reload is as good as a restart (without downtime), except that it won't restart third-party services (like dnsmasq which runs alongside Kong). But that is totally fine since only Kong generally gets an update.

If the migration between 2 v

[2015-12-07 12:17] Rylon commented on #112
@thibaultCha that's great then, thanks for the clarification. :+1:

[2015-12-08 00:48] sinzone opened #175 "Galileo docs - missing how it works in side bar"
![](http://cl.ly/image/1R170x1A1D0A/Image%202015-12-07%20at%204.47.39%20PM.png)

[2015-12-08 02:10] sinzone opened #176 "Add Sidecar Gitter chat to Kong website"
https://sidecar.gitter.im/

[2015-12-08 07:24] sinzone commented on #176
can be chat.getkong.org or getkong.org/chat

[2015-12-08 14:53] ahmadnassri commented on #176
wat? no the sidecar thing is an overlay on the website just like intercom ... it doesn't get its own domain

[2015-12-09 15:36] ahmadnassri opened #178 "document minimum requirements for running a kong server + cluster"

[2015-12-10 16:14] vandiedakaf opened #179 "typo on plugin distribution page"
Accept my pre-entive apologies for probably not logging this right:

On the page https://getkong.org/docs/0.5.x/plugin-development/distribution/
There is a sentence that starts with "It can be" and that's it. That's the full sentence.

I think you accidentally a word, or two.

[2015-12-11 20:44] therebelrobot opened #181 "Set expectations with request bodies in Galileo plugin docs"
Refer https://github.com/Mashape/kong/issues/795#issuecomment-164039648

The information surrounding the limitations of nginx in relation to buffer sizes isn't clearly documented in the plugin docs, should be updated with that and to include the relationship between `batch_size` and `max_sending_queue_size`, and its effect on sending the request body to Galileo.

(I was only able to send chunked r

[2015-12-11 21:04] thibaultCha commented on #181
`batch_size` and `max_sending_queue_size` are documented and explained.

[2015-12-11 21:21] thibaultCha commented on #181
Yes, like I said in the original issue this one needs to be documented.

[2015-12-12 03:32] sinzone opened #182 "add "Products" in the header bar with dropdow menu"
similar to mashape.com home

we'll include: Galileo and Gelato for now. In the future Jungle.

[2016-01-18 21:15] sonicaghi opened #191 "Ansible, Chef, Puppet recipes"
here below logos to put in the /install page of **getkong.org**

![ansible_logo](https://cloud.githubusercontent.com/assets/1213643/12402957/68e97026-bde5-11e5-9e7d-314c351e73d0.png)

---

![imgres](https://cloud.githubusercontent.com/assets/1213643/12402960/6c39c5a0-bde5-11e5-811d-3bb5559da5e5.png)

---

![imgres-1](https://cloud.githubusercontent.com/assets/1213643/12402965/75cd3fb6-bde5-11e5-9c

[2016-01-18 21:17] sinzone commented on #191
Resources:

*Puppet*
https://github.com/mybuilder/puppet-kongfig
https://github.com/scottefein/puppet-nyt-kong

[2016-01-20 01:47] sinzone commented on #191
also @hutchic may want to check those.

[2016-01-20 18:14] ahmadnassri opened #192 "update list of companies using Kong"
- [Sidecar](https://hello.getsidecar.com/)
- Curaytor
- Teamchat
- iGola
- BuzzLogix
- Conde Nast
- Care Otter
- The Guardian
- MorphoTrust
- Aquilent
- Eurostar
- The University of Auckland
- DataBC

[2016-01-20 18:32] daviesf1 commented on #192
Curaytor, Teamchat, iGola, BuzzLogix, Conde Nast, Care Otter, The Guardian, MorphoTrust, Aquilent, Eurostar, The University of Auckland, DataBC

[2016-01-20 19:03] ahmadnassri commented on #192
@nikz you can grab logos & short description from linkedin for each of those.

[2016-01-23 00:12] sinzone commented on #191
ping

[2016-01-27 18:58] daviesf1 commented on #192
add Newton Circus

[2016-02-09 01:42] sonicaghi opened #198 "Make Clustering Docs more compact and short. Easier to read."
https://getkong.org/docs/0.6.x/clustering/

Too long atm.

[2016-02-25 09:31] subnetmarco opened #204 "Better OAuth 2.0 docs"
Especially a better explanation of why `provision_key` is required and why it should be kept secret.

[2016-03-24 07:25] sinzone opened #209 "need to add hybrid on use cases page"

[2016-04-18 20:44] stramel opened #216 "Missing version object"
https://github.com/Mashape/getkong.org/blame/master/app/install/aws-linux.md#L46

`page.kong_version` isn't populating resulting in the url `https://getkong.org/docs//configuration#database`

[2016-04-18 21:04] #216 closed

[2016-04-18 21:12] thibaultCha commented on #216
thanks

[2016-04-19 02:21] stramel commented on #216
Thank you!

[2016-04-25 19:06] lconnolly commented on #192
@ahmadnassri @daviesf1 is this meant to *replace* the list currently on GetKong.org? Or append to it?

Also, should I order these in any particular fashion? Alphabetical?

[2016-04-25 19:07] daviesf1 commented on #192
Don't add Newton Circus yet - they still haven't signed the agreement

[2016-04-25 19:19] ahmadnassri commented on #192
@lconnolly append, alphabetical.

[2016-04-25 19:42] lconnolly commented on #192
OK, this is the merged list, in alphabetical order: ... gathering logos now.

- Aquilent
- BuzzLogix
- Care Otter
- Conde Nast
- Curaytor
- DataBC
- Eurostar
- Flyer, Inc.
- Gengo
- Grow Remote
- iGola
- Indix
- Mashape Marketplace
- Mavi
- MorphoTrust
- Newton Circus
- Parlor Inc.
- Sidecar
- Springer
- Teamchat
- The Guardian
- The University of Auckland
- Unified Compliance

[2016-04-25 19:46] daviesf1 commented on #192
I'd remove iGola and Newton Circus.

[2016-04-25 19:51] ahmadnassri commented on #192
keep Mashape Marketplace on top.

[2016-04-25 20:13] lconnolly commented on #192
Roger. Updated:

- *Mashape Marketplace*
- Aquilent
- BuzzLogix
- Care Otter
- Conde Nast
- Curaytor
- DataBC
- Eurostar
- Flyer, Inc.
- Gengo
- Grow Remote
- Indix
- Mavi
- MorphoTrust
- Parlor Inc.
- Sidecar
- Springer
- Teamchat
- The Guardian
- The University of Auckland
- Unified Compliance

[2016-06-01 02:40] ahmadnassri commented on #176
closing this issue unless the need arises again

[2016-06-01 02:40] #176 closed

[2016-06-01 02:41] ahmadnassri commented on #2
closing for now, soon we'll be doing some structure update that will take care of this

[2016-06-01 02:41] #2 closed

[2016-06-01 02:42] ahmadnassri commented on #64
@thefosk @thibaultCha are we doing this? or should we close in light of PSQL and future no-db discussion?

[2016-06-01 02:44] ahmadnassri commented on #71
@theetrain when ready to look at this, ping me for swifttype credentials.

[2016-06-01 02:44] ahmadnassri commented on #82
closing this in favor of upcoming Kong Cloud service

[2016-06-01 02:44] #82 closed

[2016-06-01 02:46] ahmadnassri commented on #131
closing in favor of switching to TypeForm

[2016-06-01 02:46] #131 closed

[2016-06-01 02:47] ahmadnassri commented on #191
@hutchic need your help on those.

[2016-06-01 03:55] sinzone commented on #192
![a6d747d4-7a92-483a-8ae7-6ff48d6ff843](https://cloud.githubusercontent.com/assets/1213643/15697746/0452e218-2772-11e6-9a86-767b7ccc001d.png)

[2016-06-02 00:51] thefosk commented on #64
We will support Cassandra and Postgres because they serve different use-cases. This guide could have been useful when we only supported Cassandra, since we know also support Postgres maybe trying to use Kong is less of a pain. I would close.

[2016-06-02 01:31] sinzone opened #232 "Kong Cloud"
![](http://f.cl.ly/items/3y12101U0s3Z2m0S2908/Image%202016-06-01%20at%206.19.03%20PM.png)

[2016-06-02 03:26] theetrain commented on #164
From #232
![image](https://cloud.githubusercontent.com/assets/12798751/15733039/33f11132-2850-11e6-984b-9335d9c0fe4b.png)

[2016-06-02 03:35] ahmadnassri commented on #164
closing in favor of #232

[2016-06-02 03:35] #164 closed

[2016-06-02 04:09] theetrain commented on #192
New company page has been deployed.

[2016-06-02 04:09] #192 closed

[2016-06-04 02:03] theetrain commented on #232
Just confirming a few things:

1) This sentence seems incomplete. "Kong Cloud comes with high performance `[...]`, SLA, Backups...". Is it "**high-performance hosting**"?

![image](https://cloud.githubusercontent.com/assets/12798751/15796908/fa50e0e2-29d5-11e6-839b-6f58f2a7414c.png)

2) Should the form heading be all-caps? I think it should be split into header-paragraph:

![image](https://cloud.g

[2016-06-05 02:00] #141 closed

[2016-06-05 02:01] theetrain commented on #141
Will ship with next deployment.

[2016-06-07 01:41] sinzone opened #240 "cut these 3 lines from enterprise page"
![](http://cl.ly/0M2m4629330Q/Image%202016-06-06%20at%206.40.17%20PM.png)

[2016-06-07 11:54] gavinlove commented on #162
Sounds like a good case for [Kongfig](https://github.com/mybuilder/kongfig) we do exactly this using puppet add one line for each tenant with their domain and then it does everything for us

[2016-06-08 04:19] theetrain commented on #240
Deployed to production.

[2016-06-08 04:19] #240 closed

[2016-06-23 08:14] sinzone opened #246 "update our gitter from simple link to sidecar (open in app) - can keep the icon."
![](http://cl.ly/012I0V1N0f2a/Image%202016-06-23%20at%201.13.17%20AM.png)

https://sidecar.gitter.im/

example:https://www.cockroachlabs.com/docs/install-cockroachdb.html

[2016-06-23 15:56] ahmadnassri commented on #246
don't think we can easily keep the icon ..

[2016-06-24 03:03] theetrain commented on #246
Do you want something like this?

### 1) Hover then click Gitter button

![20160623 gitter](https://cloud.githubusercontent.com/assets/12798751/16326644/6cea0f14-3996-11e6-96b2-2d4ac5c45349.gif)

### 2) Sidecar opens, and Gitter icon becomes 'X'

![20160623 gitter](https://cloud.githubusercontent.com/assets/12798751/16326649/868ec298-3996-11e6-8634-3732df5efebe.png)

[2016-06-24 06:59] sinzone commented on #246
that perfect.

1) on mouse over not gitter txt but "chat with kong community"

2) yup.

[2016-06-28 04:10] sonicaghi opened #248 "update Kong logo"

[2016-06-28 04:10] sinzone commented on #248
cc @jitachi

[2016-06-28 21:35] sinzone commented on #246
thank you.

[2016-06-28 21:35] #246 closed

[2016-06-29 01:06] jitachi commented on #248
After KGG website we're going to invest time in doing the product logos (including favicons and illustrations for the homepage) until that moment, I can't provide assets.

[2016-07-08 02:33] sinzone commented on #232
https://github.com/Mashape/marketing/issues/4

[2016-07-18 15:27] rowanthorpe opened #253 ""Install from source" documentation doesn't mention "serf" dependency"
I only discovered that "serf" needed to be installed on reading the error message kong threw when I first tried to run it, after completing the "Install from source" walkthrough. I guess that step just needs to be added to the page with a download link.

[2016-07-18 18:47] rowanthorpe opened #254 "nginx.conf template in install docs is not properly escaped >= v0.6"
Having followed the install-from-source docs for Kong v0.8 I copy-pasted the appropriate parts from the configuration page (corresponding to `app/docs/0.x.x/configuration.md`) but when attempting to start kong errors-out, as vital parts are missing. Looking at configuration.md in the repo up to version 0.5 I see some quite ungainly but obviously necessary parser-escaping for the `{{ xx }}` and `$x

[2016-07-18 18:55] rowanthorpe opened #255 "nginx.conf template in install docs has an alignment typo >= v0.6"
Up to version 0.5 the beginning of the embedded nginx.conf at `app/docs/0.5.x/configuration.md` looks like this:

[code]
...and from 0.6.x onwards it looks like this:
[code]
...note the misaligned worker_processes line in the latter version which causes a yaml-parsing error when starting kong.

[2016-07-22 06:20] sinzone opened #258 "remove product hunt button from footer."
![](https://cl.ly/1I1V243N1d0o/Image%202016-07-22%20at%203.18.42%20PM.png)

[2016-07-25 18:28] darshilpatel commented on #258
Producthunt button from footer removed #259

[2016-07-25 23:58] #258 closed

[2016-08-06 02:15] #209 closed

[2016-08-26 20:16] sinzone opened #271 "remove: Lua Ref link under Version 0.9"
![](https://cl.ly/2n1J1j000N2o/Image%202016-08-26%20at%201.14.23%20PM.png)

[2016-09-14 18:09] thibaultcha opened #278 "docs(aws) Postgres setup instructions incomplete"
From https://github.com/Mashape/kong/issues/1634

[code]

[2016-09-14 18:21] thibaultcha commented on #278
@shashiranjan84 Can you look into this please?

[2016-09-14 18:30] shashiranjan84 commented on #278
yes.

[2016-09-14 19:03] shashiranjan84 commented on #278
@chris-hailstorm  what exactly you meant by following?

`GRANT kong TO whatever-you-user-ID-is`

[2016-09-14 21:33] chris-hailstorm commented on #278
The Postgres administrative user ID you're using while running the CREATE USER and CREATE DATABASE commands.  For example, I was logged into Postgres as "dba" when I did this, so I needed to run "GRANT kong TO dba" before I could create the database.

[2016-09-16 18:01] #154 closed

[2016-09-16 18:04] thefosk opened #279 "Redirects not working with hashbangs"
In the docs redirects from `latest` to the current Kong versions lose the hashbang parameter on the way.

Example:

`https://getkong.org/docs/latest/configuration/#cluster_listen`

becomes

`https://getkong.org/docs/0.9.x/configuration/`

while it should be

`https://getkong.org/docs/0.9.x/configuration/##cluster_listen`

[2016-09-22 21:26] #279 closed

[2016-09-29 09:41] thibaultcha opened #284 "[request] translate documentation"
From Mashape/kong#1701

@WALL-E:
[code]

[2016-09-29 09:41] thibaultcha commented on #284
While the idea is attractive, one of the main drawbacks would be to keep translations up-to-date with their English counterparts. Because we release a new major version every month or month and a half or so, that means major updates to the translations would be required fairly often and ideally should not lag behind the English updates. While many members of the team speak different languages alre

[2016-09-29 09:49] thibaultcha commented on #253
Has been added since then, thanks!

[2016-09-29 09:49] #253 closed

[2016-09-29 09:50] #271 closed

[2016-09-29 09:51] #174 closed

[2016-09-29 10:13] #254 closed

[2016-09-29 10:14] thibaultcha commented on #254
Thanks for the report, sorry for the delay.

[2016-09-29 10:25] WALL-E commented on #284
Agree with your point of view.

I will suspend translation plan and delayed indefinitely.

[2016-10-03 23:19] #284 closed

[2016-10-03 23:21] #255 closed

[2016-10-03 23:22] thibaultcha commented on #255
Thanks, just fixed and deployed.

[2016-10-03 23:22] thibaultcha commented on #179
Has been fixed, thanks!

[2016-10-03 23:22] #179 closed

[2016-10-03 23:25] thibaultcha commented on #162
Closing this as it is related to Kong itself and not the website. Such a feature is already requested there, too.

[2016-10-03 23:25] #162 closed

[2016-10-07 01:08] theetrain commented on #232
This task is in hiatus.

[2016-10-19 17:53] Marak commented on #106
I'm evaluating using a Kong based solution for an existing enterprise which is already operating at a very large scale ( millions of requests per second ).

I see this issue hasn't been updated in some time.

Has this information been posted anywhere? Can you recommend any good resources for implementing Kong at scale?

[2016-10-22 19:52] sonicaghi opened #289 "replace this image with the new one"
![](https://cl.ly/2J1C283e0H3M/Image%202016-10-22%20at%2012.50.25%20PM.png)

with

![](https://cl.ly/1S0V222U3e0K/Image%202016-10-22%20at%2012.52.04%20PM.png)

[2017-01-17 16:18] Tieske opened #303 "Update outdated reference"
See https://getkong.org/docs/0.9.x/plugin-development/distribution/

It references the old Yaml configuration format.

[2017-01-26 18:38] Tieske opened #304 "document 'unique' behaviour"
See issues https://github.com/Mashape/kong/issues/2016 and https://github.com/Mashape/kong/issues/2022.

The plugin guide should be updated with this info for plugin developers.

[2017-02-21 21:52] wshirey opened #314 "File/UDP/TCP log plugins have extraneous data in docs"
Docs have the following JSON format for *authenticated_entity* object
[code]

but *kong/plugins/log-serializers/basic.lua* has this in code

[code]

[2017-03-24 13:51] Tieske commented on #304
fixed by #310

[2017-03-24 13:51] #304 closed

[2017-03-24 13:56] Tieske commented on #303
fixed by https://github.com/Mashape/getkong.org/commit/f50446a16038be142d8dd0632d3ff4bd83f4f783

[2017-03-24 13:56] #303 closed

[2017-03-28 02:57] p0pr0ck5 commented on #314
This got merged last week, can be closed. Thanks for the report!

[2017-03-28 02:57] #314 closed

[2017-03-29 19:53] therealgambo opened #368 "Plugin Documentation lacks any reference for deletion"
I've just opened the PR #367 for documenting how to delete a JWT credential since it was not covered, upon doing this I've had a quick look through most of the plugins and they all seem to lack documentation (where applicable) on how to delete a resource that they provide.

[2017-03-30 00:00] bpatelcs opened #369 "Custom plugin apis are not working"
I have followed the plugin development guide, and cloned jwt plugin and rename it to test-jwt with all the needed changes.Once the kong is up, I am able to see my plugin under enabled plugin list but the apis I have defined inside api.lua is not getting called instead it returns 404, can someone please help, Thanks in advance.

[code]
[code]

[2017-03-30 00:23] thibaultcha commented on #369
Duplicate of Mashape/kong#2297

[2017-03-30 00:23] #369 closed

[2017-04-13 20:01] wshirey opened #385 "specify time units for OAuth 2.0 plugin params"
No units are provided (assumed seconds) for the `config.token_expiration` OAuth 2.0 plugin parameter.

[2017-04-14 11:13] #385 closed

[2017-04-24 21:22] chrisjoywebb opened #396 "SNI Object routes sidebar doesn't link to corresponding section"
The *SNI Object routes* link in the sidebar of https://getkong.org/docs/ does not link to the SNI Objects section of the docs.

<img width="1355" alt="screen shot 2017-04-24 at 14 21 01" src="https://cloud.githubusercontent.com/assets/6216666/25359259/54f7e48c-28f9-11e7-995b-696109b8b5f3.png">

[2017-04-26 06:02] jithuatwork opened #402 "Adding api doesn't work"
I have an API server running at http://localhost:3000

I have the following routes http://localhost:3000/jithu

Now I added the API
curl -i -X POST http://localhost:8001/apis/   -d 'name=example' -d 'upstream_url=http://localhost:3000' -d 'hosts=localhost' -d 'methods=GET,HEAD,POST,DELETE'

Now when I try this,
curl -i -X GET --url http://localhost:8000/jithu --header 'Host: localhost'
HTTP/1.1 40

[2017-04-27 19:40] coopr commented on #402
This repo is for the GetKong.org website - not for the Kong API gateway.

Please have a look at https://github.com/Mashape/kong - you may want to ask via the mailing list or Gitter chat noted on that repo.

[2017-04-27 19:40] #402 closed

[2017-05-01 08:21] codebien opened #413 "[docs] Redirect to the same page when change version"
When change version not redirect to the index version page, instead redirect to the same page.

[2017-05-01 08:25] thibaultcha commented on #413
Hi,

That would be great indeed. Mind contributing a PR for it?

[2017-05-01 14:42] Tieske commented on #396
@chrisjoywebb can't reproduce this, seems fixed.

[2017-05-01 14:43] Tieske commented on #396
indeed, see https://github.com/Mashape/getkong.org/pull/397/files

[2017-05-01 14:43] #396 closed

[2017-05-12 22:04] npetzall opened #417 "Content-Type is documented incorrectly"
### Summary
Documentation is incorrect.

https://getkong.org/docs/0.10.x/admin-api/

Section: Supported Content Types

`x-www-form-urlencoded` is not supported
`application/x-www-form-urlencoded` is supported

### Steps To Reproduce

1, Do a post with "Content-Type: x-www-form-urlencoded"
2, Look confused
3, Use curl --data without headers
4, It works.....but why
5, Run curl with -v
6, Notice it s

[2017-05-12 22:09] #417 closed

[2017-05-23 02:30] therealgambo opened #423 "[docs] JWT plugin - List credentials API missing"
Currently the documentation for the JWT plugin has no reference of listing JWT credentials for a consumer.

```GET /consumers/<consumer>/jwt```

Happy to open a PR, more or less a reminder :)

[2017-05-29 09:41] Tieske commented on #423
@therealgambo  :heart: PR !

[2017-06-12 21:25] #423 closed

[2017-06-30 05:43] p0pr0ck5 commented on #198
This will be trimmed down significantly as part of 0.11 (no more serf!) :D Also, this has been improved a good bit since 0.6.

[2017-06-30 05:43] #198 closed

[2017-06-30 05:45] p0pr0ck5 commented on #163
Do we still need these? seems like every plugin has this now...

[2017-06-30 05:47] p0pr0ck5 commented on #178
Came up in https://gitter.im/Mashape/kong?at=59556d0bad9c781843b4200a

[2017-07-02 12:41] hydrargyrum opened #447 "UUOC-X (unnecessary use of curl -X)"
The site getkong.org is riddled with "curl -X GET" and "curl -X POST" occurrences, which are deemed "unnecessary" by the curl author himself (at best, harmful at worst): https://daniel.haxx.se/blog/2015/09/11/unnecessary-use-of-curl-x/

The documentation could be fixed by simply removing "-X GET" and "-X POST" in curl samples.

[2017-07-02 12:54] thibaultcha commented on #447
Arguably, in the case of a documentation like getkong.org, explicitly specifying the HTTP method has the benefit of self-documenting the API and the HTTP methods are accepted by each of the documented endpoints, and helps the reader (familiar or not with curl, btw) understanding the requests being made and helps following the examples.

[2017-07-02 13:06] hydrargyrum commented on #447
I think most readers would assume that without arguments specifying a body to post, the request must necessarily be a GET, and with arguments specifying "--data", the request should most likely be POST (or PUT, there could be some ambiguity, that's right).
But I see what you mean, for documentation, one can be explicit to avoid ambiguity.

[2017-07-02 13:11] #447 closed

[2017-07-13 07:44] XVincentX opened #449 "Community plugins section?"
Sirs,
I've been using Kong for a while and there are some plugins created from the community that I think deserve to be advertised in this website. Is there anything near in your roadmap around that?

[2017-07-13 17:47] thibaultcha commented on #449
Hi,

Yes, this is indeed in our roadmap! We will offer such a section at some point in the future. Closing this in the meanwhile, thanks!

[2017-07-13 17:47] #449 closed

[2017-07-13 20:59] p0pr0ck5 opened #451 "Use --data-urlencode where appropriate"
Apply the concept in #450 to all examples.

[2017-07-20 07:36] XVincentX opened #457 "Admin API is not RESTful"
Hello guys; I'm using Kong and I think it's a great product. Please keep going the great work!

![image](https://user-images.githubusercontent.com/1416224/28405869-7bdb44f8-6d2e-11e7-9563-48435827029c.png)

There are multiple places in this website where it's stated that Kong Admin API is a REST API, although it is not.

In particular, it is not respecting the principle of uniform interface throug

[2017-07-20 07:38] p0pr0ck5 commented on #457
I think the [mailing list](https://groups.google.com/forum/#!forum/konglayer) or [Gitter](https://gitter.im/Mashape/kong) would be the better forum for this discussion. Thanks for checking out Kong! :D

[2017-07-20 07:38] #457 closed

[2017-07-20 07:39] XVincentX commented on #457
Alright - thanks for the super prompt reply!

[2017-07-27 18:10] ginnavaram opened #462 "Kong clustering"
"Failure to proper cluster together Kong nodes that are using the same datastore will result in out-of-sync data on Kong nodes, and therefore consistency problems will occur."

We have a small problem in our environment to set it up as cluster. Saw the above line in kong documentation. What inconsistencies will occur? Does kong store any info locally on the node?

[2017-08-01 16:35] ginnavaram commented on #462
That makes it clear. Thanks

[2017-08-03 15:28] wshirey opened #469 "Cluster API information is wrong"
For Kong v0.10.3 , the response for `/cluster/nodes` API endpoint returns a 404 and the response for `/cluster` API endpoint returns a different response than what is specified.

[2017-08-04 01:30] hishamhm opened #470 "Rename "OS X" to "macOS""
I considered sending a PR for that with a general find-and-replace, but the URL for installation instructions uses "osx" so I'm not sure if it's wise to break that, and there's the `osx.svg` asset that needs updating as well.

[2017-08-14 22:25] #469 closed

[2017-09-02 09:37] ernsheong opened #513 "Documentation for /oauth_tokens"
https://github.com/Mashape/kong/issues/483#issuecomment-174046454 says that it is implemented, and it is, but it is nowhere to be found in the docs.

[2017-10-14 15:38] PGBI opened #529 "Documentation versioning for plugins"
Admin API is versioned (ex: https://getkong.org/docs/0.9.x/admin-api ), but not for plugins although some plugins do evolve over time (like the oauth2 one).

As a maintainer of kong-dashboard, it's difficult for me to offer a UI that's compatible with multiple versions of Kong for plugins since I can't find documentations corresponding to older versions of Kong.

[2017-10-15 05:43] amramtamir opened #530 "Kong 0.11 support for TLSv1"
Hi,
I am in the process of upgrading to 0.11 and I need to support TLSv1.
I saw that in the ssl_ciphers there is an option to choose from a predefined list (old) for example which add the SSL CIPHERS for TLSv1, but the issue is that the ssl_protocols is configured to only accept TLS connections from TLSv1.2 and TLSv1.1.
Haven't found how to change it via configurations.

Thanks!

[2017-10-15 18:49] p0pr0ck5 commented on #530
Hi,

Please don't cross post to github and gitter. You can use a custom Nginx template to define a different `ssl_protocols` directive if you so desire: https://getkong.org/docs/0.11.x/configuration/#custom-nginx-configuration-embedding-kong

[2017-10-15 18:49] #530 closed

[2017-10-27 18:12] amramtamir commented on #530
Hi,
Thanks, I have managed to pull this off by using a custom template.

[2017-11-07 10:24] Tieske commented on #513
@ernsheong A pull request to update the docs would be greatly appreciated

[2018-01-02 18:03] kikito opened #567 "Missing documentation for oauth2 plugin endpoint"
The oauth2 plugin API has one endpoint which is not documented in https://getkong.org/plugins/oauth2-authentication

It's this one: /oauth2_tokens/:token_or_id (GET, PATCH, DELETE)

Related with https://discuss.konghq.com/t/how-to-revoke-oauth-token-generated-from-oauth2-plugin/246

[2018-02-16 21:57] #567 closed

[2018-02-16 22:02] kikito opened #585 "Secure admin API section needs a warning about sending credentials over http/https"
I'm making a new issue from this comment: https://github.com/Kong/getkong.org/pull/545#issuecomment-341775977 . Basically we should have a place in the docs indicating that some data (like keys) should ideally be sent via https. A good candidate for doing this is the "secure admin" section.

[2018-02-16 22:26] kikito opened #586 "Specify that kong host names are case-sensitive."
As illustrated in https://github.com/Kong/getkong.org/pull/456, users might be surprised when they create an API for "EXAMPLE.COM" and find out that it is not matched by a request for "example.com". We should indicate that the `host` param in APIs (and Routes and Services) is case-sensitive.

[2018-02-27 17:04] SankarMittapally opened #605 "Client IP enable in Kong Nginx Logs"
Hello,

 I would like to enable the client IP address in kong nginx logs, My Kong Instance is under the load balancer. Please let me know how to do this.

[2018-03-10 03:41] thibaultcha opened #611 "Provide good and bad examples for API evaluation order"
See https://github.com/Kong/kong/issues/3276

[2018-03-15 16:00] adamdyson opened #617 "Version 0.13.x and Idempotency"
I have been watching the development of Kong closely since reading about the changes introduced in version `0.13.x`, in particular the decoupling of API's with Services and Routes.

A major reason for considering using Kong on a future project, was the fact that all aspects of managing API's can be done using an API itself (Admin API). To aid in managing the API's, there's the commercial Admin GUI

[2018-03-16 05:08] darrenjennings commented on #248
https://github.com/Kong/getkong.org/pull/615 will update favicon. Should be good to close this ticket after merging.

[2018-03-16 17:09] #248 closed

[2018-03-16 18:40] darrenjennings commented on #71
closed by #613

[2018-03-16 18:40] #71 closed

[2018-03-16 18:41] thibaultcha commented on #71
@darrenjennings :tada: Bravo!

[2018-03-17 08:59] adamdyson commented on #617
I have been thinking about this some more, there may be an easier was to solve the problem above regarding idempotency.

Would it be possible for Kong to allow/use an `id` value if specified when creating a `Route` (and other entities), rather than always generating a UUID?

When I became frustrated not being able to automate Kong fully, I started looking at other API Gateway's such as [Krakend](h

[2018-03-19 18:19] bungle commented on #617
@adamdyson thank you for your very thorough explanation of the issues you are facing with new model APIs. Good thing is that the APIs are now auto-generated, so we can have fix written once. Let us think about this a bit.

[2018-03-19 18:45] bungle commented on #617
Just a quick update. There is a great change you get what you want if/when we implement `PUT`.  `POST` is not idempotent. The `DELETE` is a bit controversial. It is said to be idempotent, and that is exactly what it is with Kong new Admin API for routes and Services (it always returns `NO CONTENT`, unless there is an error, and not found is not consider an error here — the DAO will give you feedba

[2018-03-20 01:57] thibaultcha commented on #617
Hi @adamdyson,

Good points - most of them with underlying reasons we can detail here, so let's do that.

Before we dig into any detail of the Admin API itself (and the custom code you had to write to handle idempotency), I would like to mention a couple things:

1. We have plans to support _native_ declarative configuration in an idempotent fashion in the future. For now, the Admin API still is t

[2018-03-23 05:08] kswen opened #644 "bu using values such as 0.0.0.0:8001."
There`s description in section https://getkong.org/docs/0.13.x/secure-admin-api/#minimal-listening-footprint, which last sentence is "bu using values such as 0.0.0.0:8001."

Is that "**bu**" suppose to be "**be**"?

[2018-03-23 05:32] thibaultcha commented on #644
That should say "by" - mind opening a PR to fix it? Thanks!

[2018-03-23 08:27] kswen commented on #644
sure, I will do it later

[2018-03-27 13:16] prasad-marne commented on #611
I started working with kong recently and have found this particular area to be confusing. I would like to create PR to add proper docs regarding this issue. I think it will help people like me and any new users get better understanding of the evaluation order.

[2018-03-30 20:24] nijikokun opened #661 "[Meta] How should we handle deprecated plugins?"
What should be the process for deprecating plugins such as [Dynamic SSL](https://getkong.org/plugins/dynamic-ssl) which is still displayed on the [plugins](https://konghq.com/plugins/) page and is only supported in 0.10 given that we are on 0.13 now?

[2018-03-30 20:33] thibaultcha commented on #661
Dynamic SSL is not deprecated, but removed. It probably be deleted and wiped out of the documentation, since it is both so old and wrongly implemented (does not fit in the Kong plugins paradigm). I've been wanting to do that for a while.

Other currently deprecated plugins would as of today receive a yellow alert toolbox. If we want to design some special UI for it, that's fine, even if maybe unne

[2018-04-06 18:33] #644 closed

[2018-04-06 18:44] darrenjennings opened #668 "Getting started mp4 videos should be responsive"
Change https://github.com/Kong/getkong.org/blob/master/app/docs/enterprise/0.31-x/getting-started/adding-consumers.md

[code]

should be

[code]

[2018-04-06 20:54] #668 closed

[2018-04-13 17:50] coopr opened #676 "Kong EE changelog should include release dates"
- `getkong.org` url(s): https://getkong.org/docs/enterprise/changelog/

### Summary

The Kong CE changelog https://github.com/Kong/kong/blob/master/CHANGELOG.md includes release dates.

The Kong EE changelog should similarly include release dates.

[2018-04-26 20:06] rainest opened #691 "Document plugin enabled flag"
- `getkong.org` url(s):
admin-api/#add-plugin and similar
all plugin pages

### Summary

The plugin schema has an enabled flag that has been present for at least 3 years, but is not mentioned in documentation for whatever reason (although it is shown in example responses, we do not indicate that it is user-settable or what its purpose is).

As one may expect, enabled is a boolean that determines w

[2018-05-16 15:04] tomaszkrzyzanowski opened #709 "Kong EE 0.31 Developer Portal authentication doc is broken"
- `getkong.org` url(s):

### Summary

Kong EE 0.31 Developer Portal authentication doc is broken

### Steps To Reproduce

1. Install kong on server
2. Enable developer portal in kong.conf
3. Run kong
4. Try to add authentication using docs:
https://getkong.org/docs/enterprise/0.31-x/developer-portal/authentication/
5. You will fail on the first steps due to absent api endpoints, eg.
[code]

### Ad

[2018-06-15 13:18] coopr commented on #676
To determine the dates to add to the Kong EE changelog, you could review Kong's blog konghq.com/blog and/or Kong Nation https://discuss.konghq.com/ to see when each EE release was announced.

[2018-06-15 13:21] coopr commented on #470
A good partial fix could be to update to "macOS" in the written portion of the docs, but leave the URL and assets named as they are.

[2018-06-15 13:27] coopr commented on #289
Closing, no longer relevant.

[2018-06-15 13:27] #289 closed

[2018-06-15 13:28] coopr commented on #168
Closing, no longer relevant

[2018-06-15 13:28] #168 closed

[2018-06-15 13:31] coopr commented on #140
Benchmarking instructions are still needed, but the linked gist is no longer the correct source for those instructions. Closing this issue.

[2018-06-15 13:31] #140 closed

[2018-06-15 14:32] coopr commented on #144
Closing as stale.

[2018-06-15 14:32] #144 closed

[2018-06-15 14:32] coopr commented on #135
Closing as stale - and because I _think_ that GetKong.org now does this.

[2018-06-15 14:32] #135 closed

[2018-06-15 14:33] coopr commented on #106
Most of this has been documented - closing, though I could imagine more specific issues being opened in the future that ask for the parts of this that aren't yet completed well enough.

[2018-06-15 14:33] #106 closed

[2018-06-15 14:34] coopr commented on #278
@shashiranjan84 can we close this, or it still an issue?

[2018-06-15 14:34] coopr commented on #153
Closing as stale.

[2018-06-15 14:34] #153 closed

[2018-06-15 14:35] coopr commented on #137
Closing as stale.

[2018-06-15 14:35] #137 closed

[2018-06-15 14:35] coopr commented on #136
Closing as stale.

[2018-06-15 14:35] #136 closed

[2018-06-15 14:35] coopr commented on #161
Closing as stale.

[2018-06-15 14:35] #161 closed

[2018-06-15 14:35] coopr commented on #191
Closing as stale.

[2018-06-15 14:35] #191 closed

[2018-06-15 14:37] coopr commented on #178
Closing, completed here https://getkong.org/docs/enterprise/0.31-x/kong-implementation-checklist/ - though that should be made more widely find-able for CE users too.

[2018-06-15 14:37] #178 closed

[2018-06-15 14:39] shashiranjan84 commented on #278
I think so as it's very old, and one else ever complained since. Maybe @chris-hailstorm send a PR to update the Doc.

[2018-06-15 14:40] #278 closed

[2018-06-15 17:44] catfishbluefish commented on #709
The docs have been updated to reflect posting to the apis url:
`curl -i -X POST \
  --url http://127.0.0.1:8001/apis/ \
  --data 'name=portal-files' \
  --data 'upstream_url=http://127.0.0.1:8004' \
  --data 'uris=/portal'`

[2018-06-15 18:17] #709 closed

[2018-06-15 19:16] jeremyjpj0916 commented on #368
Was reading over the Oauth2.0 credentials as well and began thinking the same thing, no info on what path to call the -X DELETE on to remove creds from a consumer.

[2018-06-22 20:09] richiebrandnew opened #757 "OpenID Connect link is broken"
https://docs.konghq.com/plugins/ee-openid-connect/

When you click on Detailed Documentation, it leads to an error

- `getkong.org` url(s):

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details

ADDITIONAL_DETAILS_GO_HERE

[2018-06-23 04:46] darrenjennings commented on #757
Closed by #758

[2018-06-23 04:46] #757 closed

[2018-06-26 00:00] hernando1 opened #763 "Add search console verification file"
### Summary

Add google search console file to docs.konghq.com

html file title:
googled7a99b1cae8a33d6.html
html file content:
google-site-verification: googled7a99b1cae8a33d6.html

[2018-07-09 23:45] #763 closed

[2018-07-27 23:15] hernando1 opened #806 "fix nav logo href to konghq.com"
### Summary
direct navbar logo to konghq.com

ADDITIONAL_DETAILS_GO_HERE
If a user clicks on the Kong logo on docs.konghq.com they should be directed to konghq.com
update nav.html file
Replace href for navbar brand with https://konghq.com

[2018-07-30 04:50] james-callahan opened #808 "Update docs of canary plugin for 0.33 release"
Current missing e.g. the `whitelist` option (mentioned in release notes)

[2018-07-30 16:34] catfishbluefish commented on #806
PR: https://github.com/Kong/docs.konghq.com/pull/809

[2018-07-30 20:30] #806 closed

[2018-07-30 20:30] catfishbluefish commented on #806
PR Merged

[2018-08-13 17:29] adamdyson commented on #617
Hi @thibaultcha

Thanks for thorough explanation. Since the changes introduced in v0.14.0 I have been able configure Kong with Ansible in an idempotent way. The source code for the Ansible role can be found [here](https://github.com/ontic/ansible-role-kong) if you're interested in knowing more.

I've chosen a different path and implementation from [kongfig](https://github.com/mybuilder/kongfig). T

[2018-08-13 18:04] thibaultcha commented on #617
@adamdyson Glad to hear! Indeed 0.14.0 introduced support for PUT :)

Closing this and considering it resolved then!

[2018-08-13 18:04] #617 closed

[2018-08-22 22:42] coopr opened #829 "Vertical scrolling hides anchor text"
### Summary

When navigating to an anchor link, it is hidden under the header, and it is confusing where you’ve ended up.

### Steps To Reproduce

1. Visit, for example, https://docs.konghq.com/0.14.x/proxy/
2. Click on a link in the Table of Contents - like "Overview"
3. Notice that when you go to https://docs.konghq.com/0.14.x/proxy/#overview the section title "Overview" is hidden at the top of

[2018-08-23 21:53] coopr opened #832 "Broken links on Dev Portal docs"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.32-x/developer-portal/configuration/networking/

(and probably more)

### Summary

The first two links on https://docs.konghq.com/enterprise/0.32-x/developer-portal/configuration/networking/ are broken (`proxy_url` and `portal_gui_url`) - these links appear numerous times on this page. Similar links on other pages may also be broken.

[2018-08-24 19:21] coopr opened #834 "Text that is both code-formatted and linked is not correctly styled"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.33-x/developer-portal/configuration/networking/ (issue likely occurs on many many other pages, this is just one example)

### Summary

Text that is both `code` and [a link](http://www.konghq.com) is not correctly styled. It appears to be only `code` and the fact that it is also a link is obscured until you roll-over it.

### Steps To

[2018-08-24 20:08] #832 closed

[2018-08-27 17:38] coopr opened #835 "Table width exceeds content width"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.33-x/plugins/rate-limiting-advanced/ (this issue may exist on other pages)

### Summary

See attached screenshot
![rate_limiting_advanced_plugin_-_v0_33-x___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/44675393-467cf780-a9e5-11e8-8f58-b59a18012941.jpg)

[2018-08-29 21:28] levfishdevfish opened #837 "Broken Link on GUI authentication page"
"Getting Started with the Admin GUI" leads to 404
https://docs.konghq.com/enterprise/0.33-x/admin-gui/configuration/authentication/

[2018-08-29 21:37] levfishbluefish opened #838 "Broken Link on Getting Started With Admin Gui"
https://docs.konghq.com/enterprise/0.33-x/admin-gui/configuration/getting-started/

"Kong configuration docs" link is broken

[2018-08-30 17:59] john-paul-keenan opened #840 "Some Parameter Descriptions not showing up"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.33-x/plugins/http-proxy-caching/

### Summary

If you go to the page listed above and scroll down to these paramaters, `config.storage_ttl` or `config.strategy` you'll notice they do not have a description. I was going to comb through the code to find it there, but I realized that in the raw markdown file, those were both described.

[2018-08-30 18:47] coopr commented on #840
Closed with https://github.com/Kong/docs.konghq.com/pull/841

[2018-08-30 18:47] #840 closed

[2018-09-04 20:47] coopr opened #843 "A plugin should be able to be documented as "not recommended to be globally applied""
Currently, all plugins documented on docs.konghq.com have a section about applying those plugins globally:

![index___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/45056804-c8ee6280-b048-11e8-8c65-cf6d77148ce2.jpg)

While technically all plugins can be applied globally, there are some that make little sense to apply globally.

There

[2018-09-04 23:26] coopr opened #845 "Add automated spelling, grammar, style, and readability checking"
Like this https://dzone.com/articles/vale-for-spelling-grammar-style-and-readability-li

[2018-09-17 10:42] rahimimo opened #855 "ACL plugin documentation does not cover all endpoints"
- `docs.konghq.com` url(s):
 https://docs.konghq.com/plugins/acl/?_ga=2.3770608.1107935639.1537175982-1471612363.1530627052

### Summary

Documentations with plugins do not contain all the required information. For instance, disassociating a consumer from an ACL which is done as such
` curl -X DELETE http://localhost:8001/consumers/{consumer_id}/acls/{acl_id}`
is not there.

### Additional Details

[2018-09-17 19:08] coopr opened #856 "Cookie "dialog" is overlapped by "Kong Inc""
https://docs.konghq.com/hub/

### Summary

The string "Kong Inc." overlaps the cookie warning.

### Steps To Reproduce

1. Visit https://docs.konghq.com/hub/ (in an incognito window, to force the cookie "dialog" to appear in the bottom right)
2. Scroll up and down
3. Notice that "Kong Inc." is "above" the cookie dialog

### Additional Details

Appears in both Chrome and Firefox on Mac OSX

![cooki

[2018-09-17 20:36] leevye commented on #856
https://github.com/Kong/docs.konghq.com/pull/862

[2018-09-17 21:33] #856 closed

[2018-09-17 21:35] coopr commented on #808
Needs to be updated in `app/_hub/kong-inc/canary/index.md`

[2018-09-17 21:50] coopr opened #865 "Right sidebar nav needs improvements"
### Summary

- [ ] https://github.com/Kong/docs.konghq.com/pull/863#issuecomment-422179464
- [ ] Add automatic ToC nav, and check manually-edited sidebar nav, on all docs in `app/_hub/*`

[2018-09-17 23:46] coopr opened #870 "Vertical spacing issue in Kong Hub"
![kong_hub___plugins_and_integrations___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/45656204-fa2f4f80-ba98-11e8-87d3-ca1c3ecd0e1f.jpg)

![basic_authentication_plugin___kong_and_new_issue_ _kong_docs_konghq_com](https://user-images.githubusercontent.com/94904/45656213-0a472f00-ba99-11e8-9f62-36426e2eee07.jpg)

[2018-09-18 00:55] coopr commented on #870
Resolved by https://github.com/Kong/docs.konghq.com/pull/871

[2018-09-18 00:55] #870 closed

[2018-09-18 01:34] coopr opened #874 "Extension details pages need navigation back to Kong Hub"
When viewing an extension details page like https://docs.konghq.com/hub/kong-inc/basic-auth/ there is no navigation that takes you back to https://docs.konghq.com/hub/ - and there should be :)

[2018-09-20 22:33] coopr commented on #529
Solved! Sort of :/

Now that docs for all plugins and integrations have been moved to https://docs.konghq.com/hub/ (woo hoo! See https://konghq.com/blog/welcome-to-the-new-kong-hub/), we've got versioned plugin docs!

That said... we only have versioned plugin docs for recent versions of Kong Enterprise plugins. Kong plugins currently have un-versioned documentation - they document how the plugin

[2018-09-20 22:33] #529 closed

[2018-09-20 22:39] coopr opened #886 "Change version dropdown styling to more clearly show the version you are viewing"
It is easy to miss, when using the version dropdown on Kong, Kong Enterprise, and extension docs pages like https://docs.konghq.com/hub/kong-inc/oauth2-introspection/0.32-x.html, that there exist all the versions _including_ the one you are on - the dropdown should more clearly show all the versions.

Docs site:

![oauth_2_0_introspection_plugin___kong](https://user-images.githubusercontent.com/94

[2018-09-20 22:49] coopr opened #887 "Kong plugin docs should have warning for older versions"
Many (all?) Kong plugins have evolved over the past few years - but this site currently shows only the current plugin version's documentation (at least for non-Enterprise plugins. The Kong Inc.-published plugins bundled with Kong Enterprise do NOT have this documentation issue).

A warning should be added to the top of each of these plugin's doc that says something like:

`Note: The functionality

[2018-09-21 19:37] coopr opened #890 "Remove "underline text on rollover" effect from Kong Hub cards"
When visiting https://docs.konghq.com/hub/, rolling over a card causes the text on that card to be underlined. This is distracting and unnecessary.

[2018-09-22 00:26] coopr opened #892 "Fix broken image links in OAuth 2.0 Introspection docs"
https://docs.konghq.com/hub/kong-inc/oauth2-introspection/ (and earlier versions) have broken image links.

[2018-09-22 00:27] coopr opened #893 "When viewing a not-latest version of an extension, the extension's detail page should show warning and link"
In Kong CE and EE documentation, when you are viewing docs for a not-current version of Kong, you see a warning at the top of the page like:

![](https://user-images.githubusercontent.com/94904/45048756-9422e100-b031-11e8-8823-a79cd1be2701.jpg)

Kong Catalog docs pages should show the same sort of thing:

![](https://user-images.githubusercontent.com/94904/45048820-b452a000-b031-11e8-88ae-51da6cf5

[2018-09-22 00:30] coopr opened #894 "Integrate an automated TOC generator"
Find and implement optimal Jekyll extension for auto-generating the sidebar TOC from rendered page content (or source). Nothing I've seen so far is working out of the box, and this is a notorious sticking point for Markown-based Jekyll sites.

Currently, the Table of Contents (ToC) on extension pages (formerly known as Plugin pages) are partly auto-built, and partly built "by hand".

1. For exampl

[2018-09-24 22:33] coopr commented on #855
Hi @rahimimo thanks for reporting this. We welcome PRs to improve Kong documentation. We've recently launched Kong Hub https://konghq.com/blog/welcome-to-the-new-kong-hub/ so you'd want to edit https://github.com/Kong/docs.konghq.com/blob/master/app/_hub/kong-inc/acl/index.md

[2018-09-24 22:52] coopr commented on #661
@thibaultcha @nijikokun I've PR'ed removal of the Dynamic SSL plugin.

Have a look at https://docs.konghq.com/hub/ and LMK if you'd like to see any other plugins removed, or if warnings should be added to any plugins.

The launch of Kong Hub brought us the ability to version plugin's documentation - but there are still some missing features, like a warning that shows when you are on an older versi

[2018-09-25 01:38] thibaultcha commented on #661
@coopr Thank you! This can be close now imho. DynamicSSL is removed, and the Hub can keep plugins with several versions, which I believe answers the second half of this issue.

[2018-09-25 15:39] #661 closed

[2018-09-25 17:33] coopr opened #902 "Correctly capitalize Hub page titles"
### Summary

Visible on https://docs.konghq.com/hub/kong-inc/udp-log/ and other pages.

The page title is incorrectly capitalized.

![udp_log_plugin___kong_and_slack_-_kong](https://user-images.githubusercontent.com/94904/46031675-679d3a80-c0ae-11e8-9990-4bbce66c81d4.jpg)

As part of resolving this issue, page titles across other sections of https://docs.konghq.com/ should be checked.

[2018-09-25 20:27] #892 closed

[2018-09-25 22:41] coopr opened #904 "Bring back the "permalink icon" on hover over title in Hub"
### Summary

On most of https://docs.konghq.com/, hovering your cursor over any section title will make a permalink anchor appear next to that title. Clicking on it allows one to copy/paste the anchor link in a chat somewhere, which is very efficient to link a specific section of the docs.

![5-minute_quickstart_-_v0_14_x___kong_-_open-source_api_management_and_microservice_management](https://use

[2018-09-25 23:07] coopr opened #906 "Sub-optimal formatting in tables in Hub pages"
### Summary

Tables in the Markdown section of Hub pages have strange formatting. See the `Create a PASETO credential` section of https://docs.konghq.com/hub/peter-evans/paseto/

![paseto_plugin___kong](https://user-images.githubusercontent.com/94904/46048198-122c5200-c0dd-11e8-8ae7-fe61faa9cb98.jpg)

[2018-09-25 23:29] coopr opened #907 "Update Logging reference with details from Kong Nation post"
@thibaultcha shared some helpful details on Kong's log levels and how one might utilize them in various circumstances https://discuss.konghq.com/t/production-kong-log-level/1949/5 - it'd be ideal if those details were added to Kong's logging reference https://docs.konghq.com/0.14.x/logging/ , for the benefit of future visitors to https://docs.konghq.com/

[2018-09-26 07:27] peter-evans opened #908 "Kong Hub Badges"
This is just an idea but it might be cool to have official Kong Hub badges for third-party plugins.
Plugin maintainers could use them on their GitHub repositories to link to the plugin on Kong Hub.

I made the badge below using [shields.io](https://shields.io) for use on [kong-plugin-paseto](https://github.com/peter-evans/kong-plugin-paseto).

[![Kong Hub](https://img.shields.io/badge/Kong-PASETO-

[2018-09-26 21:50] coopr opened #912 "Broken styling on numbered list"
Visible on pages like https://docs.konghq.com/0.14.x/getting-started/enabling-plugins/ and https://docs.konghq.com/0.14.x/getting-started/adding-consumers/

![5-minute_quickstart_-_v0_14_x___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/46111337-77467d00-c19b-11e8-9d6d-64b2085c9599.jpg)

[2018-09-26 22:40] coopr opened #914 "Make numbered list styling consistent"
On https://docs.konghq.com/hub/optum/kong-upstream-jwt/ the numbered list looks great:

![kong_upstream_jwt_plugin___kong](https://user-images.githubusercontent.com/94904/46113124-fccd2b80-c1a1-11e8-9623-aae7d490660e.jpg)

But on another page on the docs site https://docs.konghq.com/0.14.x/auth/, a list with the same HTML formatting doesn't look as good:

![authentication_reference_-_v0_14_x___kon

[2018-10-02 16:56] coopr opened #917 "All pages should correctly render both unordered lists AND download buttons"
Currently the pages under /install (all the pages linked to from the buttons on https://konghq.com/install/) have special handling for Markdown unordered lists - if you edit a page like https://github.com/Kong/docs.konghq.com/blob/master/app/install/kubernetes.md to add an unordered list without links:

[code]

It will be rendered strangely:

![install_-_kong_on_kubernetes___kong_-_open-source_api

[2018-10-02 18:38] john-paul-keenan commented on #917
@coopr I think I did what you wantted in https://github.com/Kong/docs.konghq.com/pull/918 but would appreciate it if others could review for me

[2018-10-02 22:53] coopr commented on #64
@subnetmarco we have Cassandra installation described or referred to in some of the options on https://konghq.com/install/

[2018-10-02 22:53] #64 closed

[2018-10-05 18:31] #676 closed

[2018-10-05 18:44] coopr opened #926 "Various of warnings on install, run, and deploy"
When I last cleared my local Github clone of this repo, cloned from https://github.com/Kong/docs.konghq.com, and followed the README steps to install, run, and deploy, everything worked smoothly - that was a few days ago.

Today, when I did the same thing, I got lots of errors and warnings that ended up requiring I do the steps with `sudo` - and while that made them work, I still got many more err

[2018-10-09 18:19] thibaultcha opened #931 "Document missing 'regex_priority' Route attribute"
The `regex_priority` attributed added to the Route entity in Kong 0.13.0 is only documented in the [Proxy Guide](https://docs.konghq.com/0.14.x/proxy/#evaluation-order), but not in the [Admin API docs](https://docs.konghq.com/0.14.x/admin-api/#add-route) (there are no mentions of this field in the Route entity attributes).

This field should be documented for both Kong 0.13 and 0.14, hence, in bot

[2018-10-10 21:52] coopr opened #933 "Upgrade to modern version of Jekyll and use kramdown"
#920 reminded us that our older versions of Jekyll, and using redcarpet instead of kramdown for rendering Markdown, are causing various problems.

[2018-10-10 22:05] coopr opened #934 "Add test to prevent bold formatting from being used in headers"
In many places in the docs there is bold formatted text in headers `### **Foo Bar**` - like here https://github.com/Kong/docs.konghq.com/blob/master/app/0.10.x/cli.md#kong-check (switch to raw view to see `#### **kong check**`)

The bold formatting is redundant (because headers will be bolded as necessary by CSS styling) and the bold formatting can cause problems with other functionality (see http

[2018-10-10 23:08] coopr commented on #934
I _think_ https://github.com/Kong/docs.konghq.com/pull/920/commits/75a70fd4df06b8d8c27f27358a73d145d6852e3c removes all bold formatting from headers.

[2018-10-11 18:29] wshirey commented on #902
I randomly selected a couple of pages other than the affected pages (UDP, JWT and HMAC come to mind) and compared to docs.konghq.com and they were the same.

[2018-10-11 18:34] wshirey commented on #902
@coopr Hmm noticing that this doesn't work for OAuth (rendered as Oauth) and StatsD (rendered as Statds). Wondering if there needs to be conditional logic to use verbatim text for certain pages?

[2018-10-11 18:51] coopr commented on #902
The extensions in the Hub each have a `name: ` element - can we use that verbatim for titles on all pages? I think that'd keep things simple!

[2018-10-12 16:34] coopr opened #939 "Prevent command prompt from being selected during copy/paste"
When selecting CLI commands to copy/paste from the Docs site, it is easy to inadvertently select the command prompt - if this is pasted into a terminal, the command will fail, because it includes that leading `$` character.

You can see an example of this on https://docs.konghq.com/0.14.x/getting-started/quickstart/ - try triple-clicking in the example command areas, and you'll notice the `$` is s

[2018-10-12 22:02] #902 closed

[2018-10-15 22:03] coopr opened #942 "Handle heading levels 5 and beyond correctly - or prevent them from being used"
As pointed out in https://github.com/Kong/docs.konghq.com/pull/920#issuecomment-429495419 the current automatic Table of Contents (ToC) generator doesn't handle Heading level 5 and beyond correctly.

Either we should correctly handle such headings, or we should prevent them from being used by checking for them in our testing/linting phase.

[2018-10-16 14:55] hutchic commented on #942
As a proposed workaround we could also just not display TOC items that are beyond 5 levels deep.

[2018-10-16 17:14] coopr commented on #942
I think that is a reasonable approach @hutchic - a PR is welcome!

[2018-10-16 22:03] #894 closed

[2018-10-16 22:28] coopr opened #944 "Fix mis-ordered headings in older docs"
### Summary

Our new automatic Table of Contents feature depends on well-ordered headings (H1 -> H2 -> H3, etc) - mis-ordered headings (H1 -> H2 -> H4) cause the ToC to render poorly.

### Steps To Reproduce

1. Visit https://docs.konghq.com/0.13.x/clustering/
2. Notice how the table of contents at the top is malformed
3. Visit the source for that page https://raw.githubusercontent.com/Kong/docs.k

[2018-10-16 22:33] coopr commented on #926
I'm no longer getting these warnings.

[2018-10-16 22:33] #926 closed

[2018-10-17 23:38] coopr opened #947 "Make Kong 1.0 version number work correctly"
https://github.com/Kong/docs.konghq.com/pull/946 demonstrated that using `1.0` for a Kong version number causes the Docs site to build incorrectly.

`1.0.x` works correctly, but we don't want to use the trailing `.x` once we release Kong 1.0

[2018-10-18 13:15] arshadkazmi42 commented on #908
What exactly needs to be done here? Seems like badge is already ready.

[2018-10-18 13:38] peter-evans commented on #908
The badge I made is served from shields.io and the image URL is rather long and messy due to the embedded logo.
[code]

I think it would be great to have official badges served from konghq.com. As it's a static site I guess they would need to be generated at build time and the static images for each badge deployed with the site relative to their plugin page.

For example:
[code]

Then the badge ma

[2018-10-18 19:38] coopr commented on #470
@arshadkazmi42 sure, that'd help! Note the comment above that points out that changing URLs and asset names is a little more involved - you could do that, or not, either way, your contribution will be appreciated!

[2018-10-18 19:57] arshadkazmi42 commented on #470
Created PR.

[2018-10-18 22:48] #470 closed

[2018-10-19 02:56] coopr commented on #163
Still needed @subnetmarco ?

[2018-10-19 12:12] caseydierking commented on #890
I’ll take a look at this!

[2018-10-19 14:12] thalaeg commented on #837
I will take care of this one!

[2018-10-19 14:17] thalaeg commented on #837
It seems like this one is already fixed.

[2018-10-19 14:18] thalaeg commented on #904
I will take care of this for all the section titles!

[2018-10-19 14:34] danimart1991 commented on #914
I try to resolve this. What style do you want, the first or the second one?

[2018-10-19 15:38] coopr commented on #890
Whoops, this got fixed but the issue didn't get closed.

[2018-10-19 15:38] #890 closed

[2018-10-19 15:39] coopr commented on #914
The first one - I think it "looks great" while the second one "doesn't look as good" :)

[2018-10-19 15:40] coopr commented on #944
This will most likely take LOTS of manual review and adjustments, unless someone can figure out a clever automated editing process.

[2018-10-19 15:43] coopr commented on #837
Whoops, yep, thanks @thalaeg !

[2018-10-19 15:43] #837 closed

[2018-10-19 16:57] dash34 commented on #947
I would like to work on this issue. How can i start?

[2018-10-19 17:11] coopr commented on #947
I'd suggest you pull #946 , get it running locally, then try to fix the issue.

[2018-10-19 18:01] coopr opened #962 "Refactor docs page titles and header for clarity"
![screenshot_10_19_18__10_59_am](https://user-images.githubusercontent.com/94904/47235579-546c4a80-d38e-11e8-8bce-0eddba035393.jpg)

[2018-10-20 12:30] michizhou commented on #931
@thibaultcha If you don't mind, I would love to resolve this issue!

[2018-10-20 16:05] thibaultcha commented on #931
@michizhou Sure! Thank you for the patch!

[2018-10-21 21:59] james-callahan commented on #586
Rather: should we fix things so that they *aren't* case sensitive?
Relatedly, do we need to do any i18n normalization? (idna/punycode)

[2018-10-22 17:37] danimart1991 commented on #914
Fixed. 😉

[2018-10-22 19:41] vividh commented on #933
Hi, I went through #920 to understand the motivation behind this issue. I would like to work on this.

To start with, I ran the project locally with the following changes in `jekyll.yml`:

[code]

Looking at the redcarpet extensions I expected some issues in the final built docs, especially with code snippets and tables, but surprisingly the kramdown build looks to be the same as redcarpet.
Is thi

[2018-10-22 20:57] coopr commented on #933
Hello @vividh - thanks for your interest!

Awesome! I'm here to help :)

I don't know - I'm afraid I don't know enough about how this all works to be able to predict the effect of this change.

Hopefully @allejo could come comment here, as his terrific work on https://github.com/Kong/docs.konghq.com/pull/920 makes him better qualified than I to do so.

Off the top of my head:
1. Run the site local

[2018-10-22 23:14] coopr commented on #933
Ah, I found a live page with the duplicate IDs issue: https://docs.konghq.com/0.14.x/admin-api/

[2018-10-23 03:18] allejo commented on #933
Based on the [redcarpet README](https://github.com/vmg/redcarpet#redcarpet-is-written-with-sugar-spice-and-everything-nice), here's what I've concluded based on the redcarpet usage Kong is using.

redcarpet          | kramdown
------------------ | ---------
fenced_code_blocks | :white_check_mark:
no_intra_emphasis  | :white_check_mark:
autolink           | :x:
with_toc_data      | :white_check_mar

[2018-10-23 03:48] vividh commented on #933
Thanks @allejo! Will do the parity checks locally for all these features and give an update.

[2018-10-23 04:59] akshatnitd opened #974 "LICENSE infor missing from the README.md file"
### Summary
* LICENSE infor missing from the README.md file

### Steps To Reproduce

1. View the README file of the repo

### Additional Details
NA

[2018-10-23 21:09] #914 closed

[2018-10-24 15:47] cfreksen commented on #944
I am looking into writing an one-off script to fix this.

[2018-10-24 16:16] coopr commented on #944
Here are some suggestions if you plan to contribute to solving this issue:

- Work on one "version" of the docs at a time - working from most recent to older. Kong 0.14 and Kong Enterprise 0.33 docs have already had their heading orders reviewed and corrected. The next most-popular section of docs that could be reviewed and corrected is [Kong 0.13](https://github.com/Kong/docs.konghq.com/tree/mast

[2018-10-24 17:38] #939 closed

[2018-10-24 19:07] cfreksen commented on #944
I know you have already processed the documentation for the current version, but I think I have found a few issues in it:
Look at `Plugin Object` in the TOC in https://docs.konghq.com/0.14.x/admin-api/
- Should `Precedence` and `Request Querystring Parameters` be changed, so their level is only 1 deeper than their parent?
- Should `Retrieve Plugin` be a subheading/child of `Plugin Object` rather t

[2018-10-24 19:08] #962 closed

[2018-10-24 19:13] coopr commented on #944
Good catch! Clearly, I wasn't paying close enough attention while tuning-up that doc.

Ah, right you are there as well! Thanks for keeping close 👀 on this - your further fixes are welcome!

[2018-10-25 04:01] shangpingjian opened #991 "I met a question about the security of Kong admin."
### Summary

I refer to this document and use Kong API Loopback to protect admin API.I added 127.0.0.1:8001 to the service and added the Basic Authentication plug-in to it.the result was that I was not required to authenticate when I visited 127.0.0.1:8001, but was required to authenticate when I visited 127.0.0.1:8000.

### Steps To Reproduce

1.add service {'name':'kong_admin','host':'127.0.0.1'

[2018-10-25 05:50] shangpingjian commented on #991
I just want to protect the 8001 port.

[2018-10-25 19:59] coopr opened #992 "Templated Hub plugins page content needs correct heading levels"
### Summary

In reviewing #989 I noticed that the templates section of Hub plugin pages has incorrect heading level nesting:

![paseto_plugin___kong](https://user-images.githubusercontent.com/94904/47526681-52563000-d855-11e8-8b61-d1598e77f963.jpg)

### Steps To Reproduce

1. Visit a page like https://docs.konghq.com/hub/kong-inc/key-auth/
2. Inspect the header "*Configuration*" - notice it is cor

[2018-10-25 20:17] coopr opened #993 "Heading level CSS needs correction for H2 and H3"
### Summary

H2 and H3 are currently visually indistinguishable:

![basic_authentication_plugin___kong](https://user-images.githubusercontent.com/94904/47527772-3acc7680-d858-11e8-8bc8-ef0e1cd497e5.jpg)

### Steps To Reproduce

1. Visit https://docs.konghq.com/hub/kong-inc/basic-auth/
2. Inspect some headers - you'll notice that some of the have the same size+style, but are different heading level

[2018-10-25 20:44] coopr commented on #912
"Fixed" this by correctly putting the numbers _after_ the heading indicator (`###`) - this correction took place in at least a couple different PRs.

[2018-10-25 20:44] #912 closed

[2018-10-25 20:49] coopr commented on #917
I did an ugly hack to make https://docs.konghq.com/install/kubernetes/ display a Table of Contents - I used an ordered list:

![install_-_kong_on_kubernetes___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/47529466-bc260800-d85c-11e8-8b3c-3eccd6a75052.jpg)

[2018-10-25 20:52] coopr commented on #865
Closing this for work done and lack of specificity. Sidebars still need improvement - we'll open a new issue when we can specify what improvements we'd like to see.

[2018-10-25 20:52] #865 closed

[2018-10-25 21:16] #944 closed

[2018-10-25 23:37] #931 closed

[2018-10-26 19:52] #834 closed

[2018-10-26 20:08] #933 closed

[2018-10-26 20:17] vividh commented on #413
May I take a stab at this?

[2018-10-26 20:34] coopr commented on #413
Certainly @vividh !

A naive implementation would have the version picker essentially just put the selected version number in the URL - for example, if you were on page https://docs.konghq.com/0.14.x/auth/ and you used the version picker to switch to version 0.12.x, you'd be sent to page https://docs.konghq.com/0.12.x/auth/

The only catch with that approach is that not all versions have all the s

[2018-10-26 20:34] coopr commented on #942
Ah @allejo you are the best, thanks!

[2018-10-26 20:35] #942 closed

[2018-10-26 21:53] vividh commented on #413
Oh nice, that adds an extra dimension to tackling this problem! Will think about an approach for this.

[2018-10-27 11:05] palash25 commented on #907
Hi @coopr :wave:
I would like to solve this issue as a part of hacktoberfest

[2018-10-27 13:01] knrt10 commented on #993
@coopr I would like to work on this.

[2018-10-27 18:19] coopr commented on #907
Ok, give it a shot! It'll require a decent understanding of the subject matter, and some thoughtful writing :)

[2018-10-30 17:44] vividh commented on #413
Created PR so that the discussion can be more concrete in terms of the changes required. Also, it would be helpful to track all the articles that require configuration for this feature. Please share your inputs there!

[2018-10-30 21:28] dbeezt opened #1006 "Some links are treated as link-less text when viewed on Firefox Quantum"
- `docs.konghq.com` url(s):
https://docs.konghq.com/

### Summary

Firefox Quantum has caused a strange array of bugs across a multitude of modern websites. The latest I've noticed is some kind of conflict between Quantum and whatever templating engine has been used to generate the Konghq web pages. The actual issue is that a majority of the links on the home page cease to function as links, inste

[2018-10-31 21:46] #886 closed

[2018-10-31 22:43] #906 closed

[2018-11-01 19:02] coopr commented on #993
Thanks @TheTechZone much appreciated!

[2018-11-02 00:11] coopr commented on #993
Hmm, strange, this still seems to be broken - on https://docs.konghq.com/hub/kong-inc/basic-auth/ H2 and H3 appear to be the same:

![basic_authentication_plugin___kong](https://user-images.githubusercontent.com/94904/47886746-30caea80-ddf9-11e8-9960-c9f45f601a45.jpg)

[2018-11-02 15:47] coopr opened #1020 "Overlapping email form on /install pages"
Pages like https://docs.konghq.com/install/google-cloud/ have this problem:

![install_-_google_cloud____kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/47925618-e2aafb00-de7b-11e8-9619-b35e8008a657.jpg)

[2018-11-02 18:08] vyaspranjal33 commented on #908
@arshadkazmi42  serving badge through shields.io would be better assets directory is there ,but its used by organization to serve images directly relevant to docs , i used to add License badge from shields site

[2018-11-03 05:52] vyaspranjal33 commented on #1020
@coopr i would like to work on ,can u please share where this file will be located

[2018-11-05 15:07] vyaspranjal33 commented on #1020
@coopr this is issue will be solved in #1022

[2018-11-05 20:24] coopr opened #1026 "Deleting dead code breaks redirects - need to determine what causes the breakage"
This PR https://github.com/Kong/docs.konghq.com/pull/1016 broke redirects - instead of pages like http://localhost:3000/enterprise/0.33-x/plugins/canary-release redirecting correctly, they rendered like this:
![slack_-_kong](https://user-images.githubusercontent.com/94904/48024500-a71b6580-e0f5-11e8-844b-d8413c7924a8.jpg)

The deletion of dead code is still needed, but obviously we don't want to b

[2018-11-06 23:56] coopr opened #1030 "Ruby and Python versions might need updating in README"
https://github.com/Kong/docs.konghq.com#prerequisites likely needs an update to correctly specify the acceptable Ruby and Python versions.

[2018-11-07 00:43] coopr commented on #947
@dash34 we got this fixed, just letting you know.

[2018-11-07 00:43] #947 closed

[2018-11-07 00:46] #1026 closed

[2018-11-07 23:10] coopr opened #1034 "When I'm on Hub home or sub-page, nav bar should correctly reflect my location"
![kong_hub___plugins_and_integrations___kong_-_open-source_api_management_and_microservice_management_and_slack_-_kong_and___octo___trello](https://user-images.githubusercontent.com/94904/48166964-27c99580-e29f-11e8-858e-aaba6eb6e958.jpg)

Currently, when I'm on Hub pages, the "Hub" in the nav bar remains "white", while the "Docs" indicator is "grey". The correct styling has "Hub" "grey" when I'm

[2018-11-09 20:37] coopr opened #1037 "Update Enterprise docs nav sidebar to point to specific versions of Enterprise plugins"
The entries in the docs sidebar nav files related to plugins here https://github.com/Kong/docs.konghq.com/tree/master/app/_data currently point to `/plugins/` URLs - which now redirect to `/hub/` URLs.

The sidebar nav should be updated to point to the correct version of the plugin's docs - for example, the plugins listed in https://github.com/Kong/docs.konghq.com/blob/master/app/_data/docs_nav_ee

[2018-11-09 21:46] coopr commented on #1037
Not going to fix - the way the nav bar is generated makes updating these URLs impossible (unless we change how the generation work) and the current approach of generated URLs pointing to redirects works well enough.

[2018-11-09 21:46] #1037 closed

[2018-11-10 02:02] coopr opened #1039 "Some anchor links scroll to the wrong place"
Visit https://docs.konghq.com/0.13.x/lua-reference/modules/kong.tools.responses/#send - notice how the "Send" anchor you are looking for is hidden under the page header and you have to scroll a little to see it.

[2018-11-13 10:05] dagolinuxoid commented on #1039
Yes it's kind of buggy - sometimes the url with `#send` at the end redirected me at the very top of the the page as if `#send` doesn't have an effect whatsoever, sometimes it behaves as you've mentioned above which is also a bummer :)

[2018-11-13 10:40] dagolinuxoid commented on #1039
Same thing with all hashes #status_codes, #Functions etc.

[2018-11-13 10:52] dagolinuxoid commented on #1039
Actually I know why this is happening. There is a div block with a class `navbar` which overlaps/hides the content since loading URL with appended #send will place the corresponding link relative to viewport. It's easy to notice by setting .navbar{display: none;}

[2018-11-13 11:01] dagolinuxoid commented on #1039
It happens when wide of browser is more than 1100pixels.

[2018-11-15 01:18] polarweasel commented on #993
It's inheriting that on line 37 of `/app/_assets/stylesheets/pages/extension.less`:

[code]

I have _no idea_ where all that definition might feed into, but it's definitely where that particular heading is getting its font size.

Using the web inspector in Firefox, overriding to turn that particular property off solves the problem.

**Default:**
<img width="358" alt="screen shot 2018-11-14 at 17 1

[2018-11-16 07:16] polarweasel commented on #993
Hmm. My change here is the same as TechZone’s. Did that one not get merged into the Kong repo? It sorta looks like it only got merged into TechZone’s fork... No wonder the change didn’t propagate. :)

[2018-11-16 13:42] vyaspranjal33 commented on #1030
@coopr should i update them to to stable version of those e.g python & ruby

[2018-11-19 18:54] polarweasel commented on #993
(Comment thread continued on my pull request #1044 if you’re wondering why the silence here...)

[2018-11-19 23:12] #993 closed

[2018-11-20 21:47] coopr opened #1054 "Some Kong Enterprise docs have repetitive page title and starting header"
Some Kong Enterprise docs like https://docs.konghq.com/enterprise/0.34-x/developer-portal/configuration/smtp/ currently show a repetitive (and thus un-helpful) page title and starting header:

![dev_portal_smtp_configuration_-_v0_34-x___kong_-_open-source_api_management_and_microservice_management](https://user-images.githubusercontent.com/94904/48804933-d1ab1800-ecca-11e8-8898-8382dd7a6433.jpg)

[2018-11-20 22:26] coopr opened #1055 "Some Kong Enterprise-only plugins don't have 0.34 documentation"
While some Kong Enterprise-only plugins _do_ have documentation for Kong Enterprise 0.34, others do not - for example https://docs.konghq.com/hub/kong-inc/ldap-auth-advanced/

[2018-11-21 18:15] h3xar0n opened #1059 "Reformat page header"
### Summary

As @coopr pointed out, the page header could use some reformatting.

![48802218-6dd12100-ecc3-11e8-8dc9-6d7a8d109c96](https://user-images.githubusercontent.com/21048592/48860648-57d06880-ed76-11e8-98e8-7d9e16fd3cb7.jpg)

### Additional Details

Ensure that both Kong and Kong Enterprise headers are aligned.

[2018-12-11 19:56] #1055 closed

[2018-12-14 06:12] jogendrajangid1 opened #1077 "Command is not proper in ratelimit blog post"
https://konghq.com/blog/protecting-rate-limiting-api-kong/

The command is not correct in the blog post. It should be consumer based limit not API based.

Our consumer’s ID is “03040614-5cfb-4138-8277-c3f856de1fe8”, so we can now add a customized the Rate-Limiting plugin just for him, with a higher limit of 200 requests per minute:

curl http://127.0.0.1:8001/apis/mockbin/plugins/ \
     -d "name=

[2018-12-20 19:04] levfishbluefish commented on #1059
Moving to internal ticket board

[2018-12-20 19:06] #1059 closed

[2018-12-20 19:07] levfishbluefish commented on #451
@p0pr0ck5 - Can this issue be closed?

[2018-12-20 19:08] #163 closed

[2018-12-20 19:52] #838 closed

[2018-12-30 18:34] jeremyjpj0916 opened #1092 "OAuth 2.0 Documentation for Kong 1.0 incorrect"
- `docs.konghq.com` url(s): https://docs.konghq.com/hub/kong-inc/oauth2/

### Summary

Lacking documentation explained here:

https://github.com/pantsel/konga/issues/288#issuecomment-450548923

redirect_uri is now redirect_uris and expects an array

Gotta run so can't fix the documentation yet myself, this is a good note on it though.

[2019-01-03 19:48] levfishbluefish commented on #1020
Still seeing this issue

[2019-01-11 07:12] millermatt opened #1110 "0.34 Enterprise docs missing "Managing Admins" page"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.34-x/kong-manager/overview/

### Summary

Managing Admins link leads to 404

### Steps To Reproduce

1. Go to https://docs.konghq.com/enterprise/0.34-x/kong-manager/overview/
2. Click "Managing Admins"
3. 404

[2019-01-15 01:31] h3xar0n commented on #1110
Thank you for raising this issue, @millermatt . We will fix the links. In the meantime, you can find the page for Managing Admins [here](https://docs.konghq.com/enterprise/0.34-x/kong-manager/organization-management/managing-admins/), and access any of the other pages from the side menu.

<img width="230" alt="screen shot 2019-01-14 at 5 29 55 pm" src="https://user-images.githubusercontent.com/210

[2019-01-15 01:46] #1110 closed

[2019-01-16 09:44] Tieske opened #1117 "Kong HUB pages do not have links for headers"
For support uses I want to link to the header "Template as Value" on this page: https://docs.konghq.com/hub/kong-inc/request-transformer-advanced/. But It doesn't have a link, so I can only link to the (top of the) page.

[2019-01-17 06:46] jeremyjpj0916 opened #1120 "Broken RFC link on Regex info section"
### Summary

https://docs.konghq.com/1.0.x/proxy/#escaping-special-characters

Click the RFC link in that section. No longer exists.

[2019-01-18 01:06] h3xar0n commented on #1117
@Tieske we'll keep the issue open; in the meantime, manually appending `#template-as-value` to the path will create a link to that part of the page since each header element has an ID:

https://docs.konghq.com/hub/kong-inc/request-transformer-advanced/#template-as-value

[2019-01-19 08:31] Tieske commented on #1117
@h3xar0n thx for the workaround, should have tried that myself 👍

[2019-01-28 10:27] radudd opened #1132 "Documentation for Kong PDK v1.0 not updated"
- `https://docs.konghq.com/1.0.x/plugin-development/admin-api/`
- `https://docs.konghq.com/1.0.x/plugin-development/custom-entities/`

### Summary

Old DAO has been removed in Kong 1.0 -  https://github.com/Kong/kong/blob/master/CHANGELOG.md#100, but the documentation still mentioned to use it.

https://docs.konghq.com/1.0.x/plugin-development/custom-entities/

Same issue also about the extension

[2019-01-30 19:09] #1034 closed

[2019-01-30 19:48] #451 closed

[2019-01-30 23:04] #1020 closed

[2019-01-30 23:05] #904 closed

[2019-01-31 00:52] h3xar0n commented on #1117
@Tieske, #1109 fixes this issue; it will go live in the next deployment this week.

[2019-01-31 00:52] #1117 closed

[2019-02-11 21:31] subnetmarco commented on #1132
@thibaultcha any updates on this?

[2019-02-12 01:55] thibaultcha commented on #1132
@subnetmarco Followed up privately

[2019-02-13 18:05] #1120 closed

[2019-02-18 20:31] h3xar0n opened #1158 "Duplicate Plugins on Hub Page"
- `docs.konghq.com` url(s): https://docs.konghq.com/hub/#logging

### Summary

A new file for API Fortress was recently added in order to fix a broken image. The old card still appears on the Hub page and should be removed.

### Steps To Reproduce

1. Visit the [Hub page](https://docs.konghq.com/hub/)
2. Scroll down to [Logging](https://docs.konghq.com/hub/#logging)
3. Note the duplicate API Fortr

[2019-02-18 20:32] h3xar0n commented on #1158
@jioanni, would it be possible to remove the older file? Happy to help if I can.

<img width="1004" alt="screen shot 2019-02-18 at 12 31 42 pm" src="https://user-images.githubusercontent.com/21048592/52975155-31bc6380-3379-11e9-88e1-c6c5b7d53012.png">

[2019-02-20 21:56] #1158 closed

[2019-02-24 17:19] #1054 closed

[2019-03-13 14:08] dagolinuxoid opened #1173 "There is a nasty/buggy scrollbar in the footer section of the Kong website."
### Summary
The scrollbar is ugly.
Take a look: [![nasty-Kong-Scrollbar.png](https://i.postimg.cc/hjYt49S6/nasty-Kong-Scrollbar.png)](https://postimg.cc/gXvWNLLH)

### Steps To Reproduce

1. visit the Kong web site
2. scroll down
3. there is a nasty scrollbar in the footer section

### Additional Details
Firefox / Chrome

[2019-03-13 14:21] #1173 closed

[2019-03-15 22:37] ymolists opened #1179 "Can you remove the sudo in the makefile ?"
Maybe this is a left over. I cant see the rationale behind using the sudo in [here](https://github.com/Kong/docs.konghq.com/blob/master/Makefile#L5)

[2019-03-20 13:29] h3xar0n opened #1184 "We need more help!"
- `docs.konghq.com` url(s):

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details

ADDITIONAL_DETAILS_GO_HERE

[2019-03-20 13:29] #1184 closed

[2019-03-20 13:29] UkiahSmith commented on #1184
Needs steps to reproduce.

[2019-03-21 14:19] hutchic commented on #1179
because docker user is root after one runs `develop` the resulting `dist` and `node_modules` directory are both owned by root. We could remove `sudo` from the Makefile it just means folks would need to run `sudo make clean` which maybe that's fine (?)

[2019-03-21 20:38] ymolists commented on #1179
I would think a better fix would be to remove the root cause (ie not running as root) as well as removing the sudo.

[2019-03-21 21:09] hutchic commented on #1179
We'd welcome that PR

[2019-03-22 18:11] thibaultcha opened #1197 "Update CORS plugin documentation with new Admin API notations"
See: https://docs.konghq.com/hub/kong-inc/cors/

### Summary

In Kong 1.0, the old comma-separated array notation (and JSON dot-notation) were removed (after being deprecated for several versions) in favor of better standards for both MIME types.

The new array notation is only documented in the Admin API reference, see [Add Route](https://docs.konghq.com/1.0.x/admin-api/#add-route), in the `hosts

[2019-04-22 11:42] flowdopip opened #1234 "Custom Nginx Template Wrong Documentation"
https://docs.konghq.com/1.1.x/configuration/#custom-nginx-templates--embedding-kong

### Summary

The tree of nginx template are wrong, missing stream templates

Another this i expect is about configure the log_format, is not clear, i´ve take few hours to solve

SUMMARY_GOES_HERE

### Steps To Reproduce

1.https://docs.konghq.com/1.1.x/configuration/#custom-nginx-templates--embedding-kong

[2019-04-23 15:46] bladefist commented on #278
This is still an issue fyi.  Nobody is complaining because they are googling it and finding these issues like I did, or are seasoned postgres users.

[2019-05-12 13:58] Tieske opened #1246 "Kong Vagrant installation docs are outdated"
The official docs: https://docs.konghq.com/install/vagrant/

are way behind - several Kong versions - the instructions in the `kong-vagrant` repo itself.

[2019-05-23 15:48] hutchic commented on #1246
I suspect in the near future we'll direct people away from Vagrant IMO / finger in the wind feeling

[2019-05-29 01:52] levfishbluefish commented on #1039
@h3xar0n are you still seeing this somewhere?

[2019-05-29 18:23] thibaultcha opened #1282 "Hub: rate-limiting-advanced `config.redis.timeout` should mention unit"
See: https://docs.konghq.com/hub/kong-inc/rate-limiting-advanced/

### Summary

`config.redis.timeout` does not mention unit (ms).

In Kong, timeout values are (or should be) specified in ms, while TTL values are (should be) specified in seconds.

[2019-05-29 20:06] thibaultcha commented on #1282
Fixed in https://github.com/Kong/docs.konghq.com/pull/1284

[2019-05-29 20:06] #1282 closed

[2019-05-29 21:32] #1179 closed

[2019-05-29 23:13] h3xar0n opened #1286 "Funnel installation guides to Getting Started section for creating Super Admins"
- `docs.konghq.com` url(s):

### Summary

Currently, each Enterprise installation guide assumes a default configuration, e.g. with `enforce_rbac` off. As a result, there is no mention of setting `KONG_PASSWORD`, which is required at the time of migrations in order to create a Super Admin. The result is that users are starting Kong with RBAC on and without a Super Admin, which forces them to restar

[2019-06-03 16:17] h3xar0n commented on #1039
@levfishbluefish I noticed it on Firefox, and @subnetmarco just saw it on Chrome for https://docs.konghq.com/1.0.x/configuration/#dns_stale_ttl (I cannot replicate it in Chrome, but have seen it elsewhere.) I happened to me when scrolling from navigation--not when visiting the link in a new window.

[2019-06-06 02:26] subnetmarco commented on #1039
I confirm that I still have this problem.

[2019-06-09 08:24] viragumathe5 commented on #934
Shall I contribute to this issue????

[2019-06-09 16:49] viragumathe5 commented on #934
I mean is this issue still open

[2019-06-13 06:44] levfishbluefish opened #1344 "Proxy Cache Plugin examples missing "config.strategy""
Issue Reported by CS

URL of Issue- https://docs.konghq.com/hub/kong-inc/proxy-cache/#configuration
Issue- The examples of how to apply the plugin are all missing the required field of config. strategy.

[2019-06-13 18:24] #1344 closed

[2019-06-15 00:49] #843 closed

[2019-06-15 00:50] #1092 closed

[2019-06-20 22:56] #917 closed

[2019-06-26 08:57] kakascx opened #1364 "Can't develop locally with docker"
- `docs.konghq.com` url(s):

### Summary

I produced a custom plugin and attempt to make a contribution to Kong
After add my index.md, I attempt to build the kong website by developing locally with docker.But there's some mistake when building it. It report `jekyll_1  | npm ERR! Error: EACCES: permission denied, unlink '/usr/bin/yarnpkg'`

### Steps To Reproduce

1.I add my own index.md and logo i

[2019-06-26 14:25] hutchic commented on #1364
Those errors should be ignorable in my experience.

![Capture](https://user-images.githubusercontent.com/697188/60188039-a22e3200-97fc-11e9-89e1-a333d86c46c3.PNG)

here's a screenshot of that section from my run of `make develop` whereby it gets the error but continues on until it eventually

[code]

[2019-06-27 01:52] kakascx commented on #1364
I have been solved this problem and built successful. There was two problem when I attempted to build it and  I think it's maybe helpful to others.
* The problem of permission
It's the  problem of file owner and group. I work with the root right all the time, but  the file owner and group in docker is my username. Run `chown -R <username>:<username> docs.konghq.com/` and then it works.
* The ram o

[2019-06-28 04:52] Aswinpookkatt commented on #1039
Could you describe the issue?

[2019-06-28 05:01] Aswinpookkatt commented on #934
Is issue still open?

[2019-06-29 18:09] Aswinpookkatt commented on #1286
Issue still open?

[2019-06-29 18:27] Aswinpookkatt opened #1376 "Canary docs detailed info redirects to same page"
### Summary

 In the Documentation of Canary plugin version .33x
link for detailed documentation for Enterprise canary release plugin redirects to same page.
### Steps To Reproduce

1.goto the page https://docs.konghq.com/enterprise/latest/plugins/canary-release/
2.click on Detailed documentation for the Enterprise Canary Release Plugin.
This link redirects to same page.

[2019-07-10 00:32] #835 closed

[2019-07-30 02:43] viragumathe5 commented on #204
Is this issue open to work

[2019-07-30 16:17] levfishbluefish commented on #204
This particular case has been covered, but we are always open to improvements on our documentation

[2019-07-30 20:56] michaelplemmons opened #1422 "Request Transformer duplicate config.append.headers"
- `docs.konghq.com` url(s):https://docs.konghq.com/hub/kong-inc/request-transformer/

### Summary

Under Parameters there are two entries for config.append.headers with different definitions. Which definition is correct?

### Additional Details

These are the definitions.
[code]

[code]

[2019-08-02 15:14] hutchic commented on #1364
glad to hear you got this sorted

[2019-08-02 15:14] #1364 closed

[2019-08-06 01:53] #808 closed

[2019-08-06 01:54] #1039 closed

[2019-08-07 18:12] #1422 closed

[2019-08-09 23:33] levfishbluefish commented on #1376
Fixed in #1444

[2019-08-09 23:33] #1376 closed

[2019-08-21 12:17] mesutcelik opened #1461 "proxy-cache plugin documentation is out of sync"
Hi,

I see that there are differences between proxy-cache github readme and official documentation. Which one is the latest version?

https://github.com/Kong/kong-plugin-proxy-cache/blob/master/README.md
https://docs.konghq.com/hub/kong-inc/proxy-cache/

[2019-09-06 23:35] levfishbluefish opened #1481 "Update Gulpfile to 4.0.0"
- `docs.konghq.com` url(s):

### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1.
2.
3.
4.

### Additional Details

ADDITIONAL_DETAILS_GO_HERE

[2019-10-01 16:10] Carike commented on #159
Is this issue still open or has it been resolved?

[2019-10-01 19:14] levfishbluefish commented on #1461
The README listed on the plugin's Github repository is the most up to date. We welcome PRs helping us keep our documentation site in sync with the plugins repositories.

[2019-10-03 21:11] levfishbluefish opened #1508 "Wrong ToC formatting on Request Transformer Advanced page"
### Summary

see here: https://docs.konghq.com/hub/kong-inc/request-transformer-advanced/

the ToC (upper right) lists everything under a single header "Configuration", whereas from "parameters" on wards it should probably be on the top level again.

[2019-10-03 21:14] levfishbluefish opened #1509 "Broken Links on 0.36 Admin API page"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.36-x/admin-api/rbac/examples/

### Summary

Since the navigation structure changed slightly, the URL paths are different.

The following links are broken:

- RBAC Overview
- RBAC Admin API
- Workspaces Examples Page
- Getting Started Guide

Maintain the enterprise and version part of the path (`enterprise/{{page.kong_version}}/...`},

[2019-10-03 21:23] #934 closed

[2019-10-03 21:50] levfishbluefish opened #1510 "Update Enterprise Plugin links to point to Enterprise pages"
Now that Core pages are copied into Enterprise 0.34-0.36, corresponding Plugin docs should direct to the Enterprise version of the page.

For example, in the Canary plugin, instead of a link for the Service object directing to the Kong 1.2.0 Admin API reference, it should direct to the Kong Enterprise 0.36 Admin API reference.

[2019-10-03 21:56] levfishbluefish opened #1511 "Create tabs to tab between code types / config types"
Add the ability to use tabs so users can toggle between Postgres / Cassandra commands, or DB / DB-less commands versus having to scroll

[2019-10-05 09:02] butuzov opened #1520 ""api.lua" - Extending the Admin API (outdated example)"
Issue found at URLS:

- https://docs.konghq.com/0.14.x/plugin-development/admin-api/
- https://docs.konghq.com/1.0.x/plugin-development/admin-api/
- https://docs.konghq.com/1.1.x/plugin-development/admin-api/
- https://docs.konghq.com/1.2.x/plugin-development/admin-api/
- https://docs.konghq.com/1.3.x/plugin-development/admin-api/
- https://docs.konghq.com/enterprise/0.36-x/plugin-development/admi

[2019-10-07 17:04] h3xar0n opened #1523 "0.35 and 0.36: Mention Upstream TLS Plugin instead of NGINX directives"
- `docs.konghq.com` url(s): any place that the NGINX directives:
`proxy_ssl_trusted_certificate`, `proxy_ssl_verify=on`, `proxy_ssl_verify_depth` are mentioned in 0.35, 0.36

### Summary

People using Kong Enterprise versions 0.34 and earlier were able to use the NGINX directives:
`proxy_ssl_trusted_certificate`, `proxy_ssl_verify=on`, `proxy_ssl_verify_depth` to configure upstream TLS.

Due to th

[2019-10-07 21:53] h3xar0n opened #1525 "Update all 0.36 Plugins to use route.id, service.id, and consumer.id"
Change all 0.36 plugins to use `route.id`, `service.id`, and `consumer.id` instead of `route_id`, `service_id`, and `consumer_id`.

### Summary

In 0.36, you can no longer use the service_id to create a rate limiting plugin.

If you try the following:

[code]

Response:
shows below error
`"{"message":"schema violation (service_id: unknown field)","name":"schema violation","fields":"`

It looks lik

[2019-10-07 21:56] h3xar0n opened #1526 "Fix links on RBAC examples page"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.36-x/admin-api/rbac/examples/

### Summary

Since the navigation structure changed slightly, the URL paths are different.

Maintain the enterprise and version part of the path (`enterprise/{{page.kong_version}}/...`}, but fix the part with the file location.

The page must be free of 404s.

[2019-10-07 23:35] #1526 closed

[2019-10-08 00:10] h3xar0n opened #1527 "stream_listen details missing on 0.36 Configuration page"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/0.36-x/property-reference/#stream_listen

### Summary

The property description for `steam_listen` is missing the following details from the conf file:

                        # which the stream mode should listen.
                         #
                         # This value accepts IPv4, IPv6, and hostnames.

[2019-10-08 09:36] agarwal-akash commented on #1527
I would like to work on this!

[2019-10-08 17:47] agarwal-akash commented on #1508
@h3xar0n
I could not find where to edit the doc, tried searching [here](https://github.com/Kong/docs.konghq.com/tree/master/app/_hub/kong-inc/request-transformer-advanced). Could you guide me to the right place?

[2019-10-11 10:52] kikito opened #1536 ""Kong requires a running Cassandra cluster (3.x+) or PostgreSQL instance (9.6+) before it starts.""
That phrase is visible in https://hub.docker.com/_/kong

It is no longer exact since 1.2.0 (Kong can run in db-less mode as well)

Originally reported in https://github.com/Kong/kong/issues/5074

[2019-10-18 00:01] h3xar0n commented on #1527
Thanks again, @agarwal-akash .

[2019-10-18 00:01] #1527 closed

[2019-10-19 00:10] #1525 closed

[2019-10-19 00:10] #513 closed

[2019-10-21 20:27] #1520 closed

[2019-10-29 20:46] duncanleung commented on #1461
I can take this issue to help update the docs on proxy-cache plugin.

[2019-10-30 18:54] nicohouillon commented on #1509
submitted 2 PR
(0.35) https://github.com/Kong/docs.konghq.com/pull/1556
(0.36) https://github.com/Kong/docs.konghq.com/pull/1557

[2019-12-11 00:51] #1523 closed

[2019-12-20 14:28] Sea-Flying opened #1685 "docs.konghq.com github 404"
emm..
https://docs.konghq.com,  NOW is Github 404 Page,
does somethings wrong with Kong doc server?

[2019-12-22 04:42] #1685 closed

[2020-01-16 05:35] debu99 commented on #159
5 years old

[2020-02-20 23:54] aaronhmiller opened #1802 "namespace not found"
The very first step in this guide leads to an error. Please fix.

%> kubectl create secret generic kong-enterprise-license --from-file=./license -n kong
Error from server (NotFound): namespaces "kong" not found

[2020-02-26 18:46] #1802 closed

[2020-03-09 16:31] lena-larionova commented on #1508
Fixed in https://github.com/Kong/docs.konghq.com/pull/1841.

[2020-03-09 16:31] #1508 closed

[2020-03-10 04:19] kefatong opened #1845 "download kong studio page 404"
# download kong studio page 404

[2020-03-10 16:41] lena-larionova commented on #1845
@kefatong Please check that you're logged into Bintray before clicking those links, it will show a 404 if you aren't.

[2020-03-31 12:16] mufasa71 commented on #1845
same here. getting 404 even when i am logged in

[2020-03-31 16:22] lena-larionova commented on #1845
@mufasa71 I just checked the links, they all seem to be working. Do you have access to the Kong repository on Bintray? Studio is an enterprise-only product, so you need to have Kong Enterprise and access to the Kong repo to download it. If you don't have access, that might also throw a 404.

[2020-04-05 09:04] mufasa71 commented on #1845
@lena-larionova thanks for clarification, i did not read description, my bad.

[2020-04-27 20:35] #1845 closed

[2020-05-12 21:48] lena-larionova commented on #1511
Functionality added with 1.5.x Enterprise release.

[2020-05-12 21:48] #1511 closed

[2020-05-13 16:01] hishamhm opened #2030 "broken sidebar link for "CA Certificate Object" in Kong Enterprise 1.5 Admin API reference"
https://docs.konghq.com/enterprise/1.5.x/admin-api/

Click "CA Certificate Object" in the sidebar

[2020-05-13 16:24] lena-larionova commented on #2030
Thanks for catching it! Fixing in https://github.com/Kong/docs.konghq.com/pull/2031

[2020-06-17 18:18] diefans commented on #2030
The sidebar is broken for all entries except "Supported Content Types".

All anchors have a slash `/` appended and thus don't work.

[2020-06-19 11:54] dlouzan opened #2120 "Conflicting timeout properties docs for Proxy Reference?"
I'm confused by references to upstream timeout configuration between [Proxy Reference](https://docs.konghq.com/2.0.x/proxy/#3-proxying--upstream-timeouts) and [Admin API Service Object](https://docs.konghq.com/2.0.x/admin-api/#service-object). Are these two sets of configs applying to different configurations, or the same?

In https://docs.konghq.com/2.0.x/proxy/#3-proxying--upstream-timeouts:

[c

[2020-06-24 17:46] lena-larionova commented on #2030
Fixed again; different issue this time: https://github.com/Kong/docs.konghq.com/pull/2127

[2020-06-24 17:47] #2030 closed

[2020-06-24 17:53] lena-larionova commented on #1286
Issue resolved earlier this year, at some point. Installation guides now include instructions for setting `KONG_PASSWORD`.

[2020-06-24 17:53] #1286 closed

[2020-06-24 18:06] lena-larionova commented on #413
Not sure what happened between the last merged change and this year, but it looks like we lost this ability at some point. Fixed once again in https://github.com/Kong/docs.konghq.com/pull/2043

[2020-06-24 18:06] #413 closed

[2020-06-24 18:10] lena-larionova commented on #1006
No longer an issue with newer browser versions.

[2020-06-24 18:10] #1006 closed

[2020-08-17 13:50] hishamhm commented on #2120
@dlouzan You're correct, the docs are out of date!

The Admin API doc is correct and the Proxy Reference is wrong. The attributes are called `connect_timeout`, `write_timeout` and `read_timeout`.

[2020-08-24 17:24] #2120 closed

[2020-09-04 10:35] pantsel opened #2996 "Unable to extend admin API as per documentation example"
Kong version: 2.1.3

Greetings folks,

I'm trying to write a simple plugin that extends the admin API by following the docs (https://docs.konghq.com/2.1.x/plugin-development/admin-api/).

After creating the `api.lua` file, I've noticed that the `db` and `helpers` parameters in the endpoint definition code are empty (nil)

Example:

[code]

As a result, none of the `endpoints` methods from `kong.ap

[2020-10-11 14:12] X3NOSIZ commented on #1510
@levfishbluefish can you assign me this issue?

[2020-10-14 20:22] rainest opened #2377 "Document use cases and process for custom image creation and use in Kubernetes deployments"
### Summary

Add documentation that covers:
- Creating a custom Kong Docker image from an existing image.
- Uploading a custom image to a registry. Not much to document on our end, but we can link to documentation for major registry providers and must indicate that custom Enterprise images must reside in private registries.
- Configuring manifests to use the custom registry.

### Additional Detail

[2020-10-16 09:19] yolossn opened #2382 "Better explanation for advanced rate limit addon."
- `docs.konghq.com` url(s): https://docs.konghq.com/hub/kong-inc/rate-limiting-advanced/

### Summary
The doc just says that the advanced plugin has  `greatly enhanced configuration options and performance`  than the rate limit addon. It is not clear what kind of additional configuration options are provided and how much the performance varies.
A better explanation of this will be handy to decide

[2020-11-20 22:18] tlblessing commented on #2382
Added to my DOC ticket https://konghq.atlassian.net/browse/DOCS-1417

[2020-11-27 17:26] sanyer commented on #2382
@yolossn doc mentions enhanced but not additional configuration options for this plugin.
The biggest different in configuration if very straightforward if you used any of these two plugins before:

rate-limiting-advanced uses `limit` and `window_size` options instead of `second, minute, hour, day, month, year` for rate-limiting. It is explained on the bottom of the page.

But performance claim is

[2020-12-01 09:55] yolossn commented on #2382
@sanyer Thanks for the clarification.

[2020-12-09 07:03] kakascx opened #2498 "Build failed when Develop Locally with Docker"
### Summary

 I wanna to contribute a new plugin to kong hub.I have finish the index.md.
But it built failed when develop locally with docker

### Steps To Reproduce

1. I have finish make install-prerequisites
2. when make develop, it built failed

### Additional Details

Here's the error log
[code]

[2020-12-10 12:19] kakascx commented on #2498
I reslove this problem by change the user to root in docker-compose.yml
[code]

I can't make sure that it's my error operation before or a bug.
I executed the followings according to the readme.md[https://github.com/Kong/docs.konghq.com/blob/master/README.md](url)
[code]

[2020-12-11 01:27] kakascx commented on #2498
It executed with following errors after solve the problem before
[code]

[2021-01-21 13:16] renovate[bot] opened #2544 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:17] #2544 closed

[2021-01-21 16:03] piyushpgupta opened #2546 "Rate Limiting Plugin config.service_id not working"
- `docs.konghq.com` url(s):

### Summary

 config.service_id field defined is not working .
Its unrecognised by the kong

### Steps To Reproduce

1.Apply rate limiting plugin as below config  on global
{
    "name":"rate-limiting",
    "config":{
        "second":5,
        "limit_by":"service",
        "service_id":"<>"
    },
    "service":{
        "id":"<>"
    }
}
2.Check the response
{
    "

[2021-01-27 10:11] gogovan-vincentngai opened #2553 "Rate Limit Path not working ?"
### Summary
Installed via Helm Chart
- kong/kong	Chart 1.14.1    App 2.2

Deploy KongPlugin Rate Limit
limit_by and path not work as expected

### Steps To Reproduce

Deploy as below
[code]

### Expected Result

Load Test `https://demo.xyz.dev/foo` will be appear 429
Load Test `https://demo.xyz.dev/bar` will never  appear 429

### Actual Result
Both appear 429

[2021-02-09 21:15] lena-larionova commented on #2553
@gogovan-vincentngai I think this isn't a doc issue. Please file this issue at https://github.com/Kong/charts/issues instead.

[2021-02-14 19:17] avats-dev commented on #1461
Hi, @levfishbluefish I would like to work on this. Can you guide me how I can implement this?

[2021-02-15 11:30] hanlaur opened #2585 "IngressClass definition is missing value for spec.controller"
- `docs.konghq.com` url(s): https://docs.konghq.com/kubernetes-ingress-controller/1.1.x/concepts/ingress-versions/

### Summary

Creating IngressClass using documentation instructions fails due to missing `spec.controller` field. I searched a bit, but I could not yet find the intended value for this parameter. Documentation fix would be good for this.

(The helm chart did not seem to create this o

[2021-02-16 06:29] gogovan-vincentngai commented on #2553
yes, sorry , i already post in there forgot to close this

[2021-02-16 06:29] #2553 closed

[2021-02-16 18:48] lena-larionova commented on #2585
@rainest Can you take a look at this issue? I can't find anything on the `spec.controller` parameter either.

[2021-02-16 20:34] rainest commented on #2585
We don't currently make use of the IngressClass controller field for any filtering in our code, and don't actually require any value for it.

I recommend using `konghq.com/ingress-controller` for now to follow the convention.

[2021-02-26 01:44] NilsFrkal opened #2641 "*110 upstream timed out (110: Operation timed out) while reading response header from upstream"
### Summary

Kong Version 2.3.2 - (same issue in previous version)

I have the problem that http(s) calls timeout in a repeatable pattern. The first login call is okay. Then after logout and immediate login for the 2nd time the login call times out with "*110 upstream timed out (110: Operation timed out) while reading response header from upstream". (please see details below)

I did play around wi

[2021-02-26 04:33] #2641 closed

[2021-02-26 04:33] NilsFrkal commented on #2641
Wrong space. Apologies.

[2021-03-10 18:37] dndx opened #2679 "Duplicate entries in the PDK navigation column"
https://docs.konghq.com/gateway-oss/2.3.x/pdk/kong.node/

Note that `kong.node` appeared twice.

![image](https://user-images.githubusercontent.com/1131072/110679671-af7a9280-8212-11eb-9c64-72ed9274bc1f.png)

[2021-03-11 22:32] lena-larionova commented on #2679
@kikito this is one of the autodoc-created nav pieces - do you know if something changed recently?

[2021-03-30 15:25] jackkav opened #2728 "Konnect helm docs"
- `https://docs.konghq.com/konnect/runtime-manager/kong-gateway-runtime/`

### Summary

- Docs should specify helm 3 is a requirement and install command should include `--set ingressController.installCRDs=false` flag
- it should be clearer that the create secrets are expecting the reader to have stored the certs in /tmp/
- create secrets should include namespace flag `-n kong`
- yml + yaml incons

[2021-04-02 06:57] jackkav commented on #2728
In order for reporting to work an additional line must be included in the env section of values.yaml in the docs
`vitals_ttl_days=732`
![image](https://user-images.githubusercontent.com/3679927/113390025-46111e00-9391-11eb-9cc1-f96e057ce00b.png)

[2021-04-07 16:29] lena-larionova commented on #2728
@jackkav Is `KONG_VITALS_TTL_DAYS` a new parameter? I don't see it in kong.conf: https://github.com/Kong/kong-ee/blob/next/2.3.x.x/kong.conf.default

[2021-04-07 17:33] fffonion opened #2748 "KongClusterPlugin section should describe how to configure global plugin"
Currently, "Configure a global plugin" lives under "Using KongPlugin resource" section(https://docs.konghq.com/kubernetes-ingress-controller/1.2.x/guides/using-kongplugin-resource/#configure-a-global-plugin), but it's actually telling
about usage about `KongClusterPlugin` resource.
It can be moved to and "Using KongClusterPlugin resource" section,
and a link to the new place will appear in the old

[2021-04-07 20:16] #2585 closed

[2021-04-07 22:23] lena-larionova commented on #2728
Included this directly in the values.yaml instead, to simplify.

[2021-04-08 00:15] lena-larionova commented on #2748
Looks like the "Using KongPlugin resource" section in https://docs.konghq.com/kubernetes-ingress-controller/1.2.x/guides/using-kongplugin-resource/#configure-a-global-plugin doesn't actually add any info that the specific `KongClusterPlugin` topic doesn't have. It does have better lead-in and descriptive text, so we can make use of that, but you're right - this doesn't belong here and is mostly co

[2021-04-09 21:48] lena-larionova commented on #2679
Fixed in #2753.

[2021-04-09 21:48] #2679 closed

[2021-04-09 21:52] lena-larionova commented on #2546
When applying a plugin globally, you can't specify a service ID. You can set the plugin to "scoped" and apply the plugin to a service, or you can apply it globally and not attribute it to any specific element. If you need to do both, you'll need two different plugin configs.

See config examples here: https://docs.konghq.com/hub/kong-inc/rate-limiting/

Closing, as this is not a doc issue.

[2021-04-09 21:52] #2546 closed

[2021-04-13 17:11] mflendrich commented on #2377
Next step: document possible approaches to users adding plugins/etc. to Kong, so that we can choose the optimal approach before documenting the best known approach today.

[2021-04-16 21:05] lena-larionova commented on #2728
Fixed in https://github.com/Kong/docs.konghq.com/pull/2750.

[2021-04-16 21:05] #2728 closed

[2021-04-26 16:08] raphaelcb opened #2813 "Docker Pull kong-enterprise-edition forbidden"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/2.3.x/deployment/installation/docker/

### Summary
When executed the step 1 - pull the Kong Gateway Docker image is happening error 403 - Forbidden

### Steps To Reproduce

1. Open Ubuntu terminal
2. docker pull kong-docker-kong-gateway-docker.bintray.io/kong-enterprise-edition:2.3.3.0-alpine
3. The output console:
2.3.3.0-alpine: Pull

[2021-04-26 16:43] lena-larionova commented on #2813
Looks like there's a Bintray brownout going on right now: https://status.bintray.com/

We are migrating these images from Bintray currently as well, and will have a stable site for the packages in the near future. Thanks for your patience!

[2021-04-26 17:09] lena-larionova commented on #2813
@raphaelcb we're updating this in the docs, but you can pull the latest docker image from Docker Hub now:
[code]

For all the versions and distributions, see: https://hub.docker.com/r/kong/kong-gateway/tags?page=1&ordering=last_updated&name=alpine

[2021-04-26 17:19] raphaelcb commented on #2813
Thanks @lena-larionova .... I got it through command above.

[2021-04-26 20:48] #2813 closed

[2021-04-27 15:17] ImAbhishekTomar opened #2817 "Help - How to protect my asp dot net core api with this?"
**Anyone knows that what is this 🤯 konghq is?**

My organization is protection all REST api using this [konghq][1] (and they called this stargate and its build on top of [konghq][1]).

My organization most of the api is based on the java but now they gave me a project that have many dot net core API without any authentication that I want to secure with this [konghq][1] and validate [OAuth][2] inco

[2021-04-27 15:56] lena-larionova commented on #2817
Hey @ImAbhishekTomar ! This looks like a support question, and this repo is for Kong docs only. Please post it on [Kong Nation](https://discuss.konghq.com/), or move your issue to [kong/kong](https://github.com/Kong/kong/issues).

[2021-04-27 15:56] #2817 closed

[2021-04-27 17:28] ImAbhishekTomar commented on #2817
THANKS @lena-larionova  - https://github.com/Kong/kong/issues/7095

[2021-05-09 04:37] debu99 opened #2834 "sample_ratio is not working in zipkin"
- `docs.konghq.com` url(s):
https://docs.konghq.com/hub/kong-inc/zipkin/

### Summary

If you set config.sample_ratio less than 1 like the in URL, the zipkin header will set to x-b3-sampled=0, which will not send data to zipkin

### Steps To Reproduce
1. set zipkin plugin config
  http_endpoint: http://zipkin.default.svc.cluster.local:9411/api/v2/spans
  sample_ratio: 0.1
  include_credential: tru

[2021-05-12 15:42] rainest opened #8280 "Review and document plugin protocols behavior"
Originally raised internally in FTI-2517.

Kong plugins support a `protocols` field indicating which request protocols (e.g. http, grpc) they run on. KongPlugin resources have [supported this field](https://github.com/Kong/kubernetes-ingress-controller/blob/v1.2.0/deploy/manifests/base/custom-types.yaml#L64-L74) for a while (since 0.4), but we do not mention it in documentation.

The Kong and KIC

[2021-05-16 00:04] mervekocagoz opened #2851 "Cannot remove the json property in the body response using kong response-transformation plugin?"
### Summary

I cannot remove the JSON property in the body response using the kong response-transformation plugin?

Example of a response body:
[
{
"id": 1,
"name": "Leanne Graham",
"username": "Bret",
"email": "Sincere@april.biz",
"address": {
"street": "Kulas Light",
"suite": "Apt. 556",
"city": "Gwenborough",
"Message": "92998-3874",
"InnerItems": {
"lat": "-37.3159",
"lng": "81.1496"
}
]

###

[2021-05-19 03:56] justlife787 opened #2867 "Kong does not recognized request body property if set to true and if request body exceeds 10000 characters"
- `docs.konghq.com` url(s):

### Summary

We are using Kong 1.5 version and request the validator plugin. We have defined the request-validator plugin with the request body property as the required parameter. If the incoming request body size exceeds around 10200 characters, Kong fails to identify the given property in the request. It gives 400 error with error message XYZ property is required.

[2021-05-19 12:32] tlblessing commented on #2867
Doc link: https://docs.konghq.com/hub/kong-inc/request-validator/

@justlife787 thank you for bringing this to our attention. I will log a bug JIRA ticket to get the code/docs updated.

[2021-05-19 12:45] tlblessing commented on #2867
Logged https://konghq.atlassian.net/browse/FTI-2550 as directed by @murillopaula

[2021-05-26 18:58] dimitropoulos opened #2887 "missing name for openid-connect plugin"
- `docs.konghq.com` url(s): https://docs.konghq.com/hub/kong-inc/openid-connect/#parameters

### Summary

The name needed for the openid-connect plugin is missing.  I tried to see where this was set to submit a quick PR but I was unable to locate where this needs to be set.

see after "in this case":

![Screenshot_20210526_145650](https://user-images.githubusercontent.com/15232461/119715974-9c02bf

[2021-05-26 19:08] tlblessing commented on #2887
Thanks for noticing this issue @dimitropoulos. @bungle is currently refactoring OIDC docs in this PR https://github.com/Kong/docs.konghq.com/pull/2861

[2021-05-27 15:19] hhoover opened #2890 "Add "Disallow" statements to robots.txt to get old versions out of search results"
- `docs.konghq.com` url(s):
All old versions:
enterprise/[0.31-x-2.3.x]
mesh/1.0.x
mesh/1.1.x
gateway-oss/[0.2.x-2.3.x]
kubernetes-ingress-controller/[1.0.x-1.1.x]

### Summary

Add `Disallow: /X` statements to `app/robots.txt` for any old versions. This will keep these pages out of Google search results.

Example:

[code]

### Steps To Reproduce

Current "from Google" user flow:
1. Search for kon

[2021-05-27 16:09] lena-larionova commented on #2890
That's frustrating. We've attempted various solutions to keep the old versions out of search results that are less extreme, but looks like it hasn't been enough. Will give this a try and see if it helps, thanks!

[2021-05-27 23:59] #2890 closed

[2021-05-28 22:14] mflendrich opened #2903 "KIC 2.0: UDPIngress End-User Docs (docs.konghq.com)"
UDPIngress support will come in KIC 2.0.

The scope of this issue is to document UDPIngress under the 2.0 version on docs.konghq.com.

[2021-05-28 22:16] mflendrich opened #2904 "KIC 2.0: Document new flags"
KIC 2.0 adds new flags.

Acceptance criteria:
- [x] new flags documented
- [x] flag descriptions on docs.konghq.com match the flag set exposed by KIC 2.0

[2021-05-28 22:17] mflendrich opened #2905 "KIC 2.0: Upgrade guide from 1.x"
Acceptance criteria:
- [ ] upgrade using deploy manfiests covered
- [ ] upgrade using Helm covered
- [ ] breaking changes reference
- [ ] note about logging output differences

[2021-06-01 21:27] Yiyiyimu opened #2911 "[installation] docker tag should directly use the tag recommend"
- `docs.konghq.com` url(s): https://docs.konghq.com/enterprise/2.4.x/deployment/installation/docker/

### Summary

Right now the steps would be:
[code]

Maybe better change to
[code]

[2021-06-02 15:22] Bradamant3 commented on #2904
@mflendrich Do we have a way to generate flag values and descriptions from the code?

[2021-06-04 07:01] Yiyiyimu opened #2919 "Bad link: Configuration Reference"
- `docs.konghq.com` url(s): https://docs.konghq.com/gateway-oss/2.4.x/getting-started/configuring-a-grpc-service/

### Summary

[code]

[2021-06-07 17:50] #2919 closed

[2021-06-15 15:08] ccfishk opened #2939 "Update integration documentation for using kong with knative"
- `docs.konghq.com` url(s):

### Summary

Provide step by step guidance for configuring kong with knative.

Also, correct some details within 1.3.x documentation
https://docs.konghq.com/kubernetes-ingress-controller/1.3.x/guides/using-kong-with-knative/#documentation

[2021-06-17 16:54] falondarville commented on #204
The documentation has been improved: https://docs.konghq.com/hub/kong-inc/oauth2/

[2021-06-17 16:54] #204 closed

[2021-06-17 16:56] falondarville commented on #1509
These fixes have been merged.

[2021-06-17 16:56] #1509 closed

[2021-06-17 17:05] falondarville commented on #1461
How to contribute to plug-in documentation: https://docs.konghq.com/contributing/plugin-docs/

[2021-06-17 17:05] #1461 closed

[2021-06-17 17:18] falondarville commented on #1510
We're revisiting the strategy for Enterprise vs. OSS docs and plan to combine them in the future. Opting not to update, as we would have to do so again in the future when this strategic change happens.

[2021-06-17 17:18] #1510 closed

[2021-06-17 17:21] falondarville commented on #368
PR 365 has been merged: https://github.com/Kong/docs.konghq.com/pull/367

Auth 2.0 revoke access tokens: https://docs.konghq.com/hub/kong-inc/oauth2/#viewing-and-invalidating-access-tokens

[2021-06-17 17:21] #368 closed

[2021-06-17 17:58] falondarville commented on #2498
This is a permissions issue.

`sudo make install` creates directories at root level. Then, commands like `make develop` are executed at non-privileged user level and will fail.

[2021-06-17 17:58] #2498 closed

[2021-06-17 20:47] falondarville commented on #586
Created a task for myself and I will note in the documentation that `host` is case sensitive.

[2021-06-21 18:50] falondarville commented on #1132
Documentation for PDX v 1.0 is no longer being maintained. As of now, the most current version is available here:
* https://docs.konghq.com/gateway-oss/2.4.x/plugin-development/admin-api/
* https://docs.konghq.com/gateway-oss/2.4.x/plugin-development/custom-entities/

[2021-06-21 18:50] #1132 closed

[2021-06-21 18:54] falondarville commented on #874
This has been resolved.

[2021-06-21 18:54] #874 closed

[2021-06-21 20:36] falondarville commented on #1536
I have opened up DOCU-1565 to address this issue.

[2021-06-21 21:38] falondarville commented on #1197
This has been fixed.

[2021-06-21 21:38] #1197 closed

[2021-06-21 21:50] falondarville commented on #1234
We have added templates:
* https://github.com/kong/kong/tree/master/kong/templates
* https://docs.konghq.com/gateway-oss/2.4.x/configuration/#custom-nginx-templates

Please feel free to re-open if you want to provide more info about `log_format`.

[2021-06-21 21:50] #1234 closed

[2021-06-21 21:59] falondarville commented on #845
This is a much larger discussion; we are working on this.

[2021-06-21 21:59] #845 closed

[2021-06-21 22:09] falondarville commented on #1030
We created a task to update the README. DOCU-1570

[2021-06-21 22:22] falondarville commented on #605
I'm closing this issue since it's from 2018. But we welcome all troubleshooting and discussion issue on [Kong Nation](https://discuss.konghq.com/).

[2021-06-21 22:22] #605 closed

[2021-06-21 22:29] falondarville commented on #1077
Since the referenced blog post has been published, the API endpoint in question has been deprecated. Please refer to current documentation: https://docs.konghq.com/hub/kong-inc/rate-limiting/

[2021-06-21 22:29] #1077 closed

[2021-06-21 22:36] falondarville commented on #611
We've opened a backlog task for this issue: DOCU-1572

[2021-06-21 23:56] falondarville commented on #893
Kong Catalog is deprecated.

[2021-06-21 23:56] #893 closed

[2021-06-22 19:22] falondarville commented on #1246
I'm closing this issue.

[2021-06-22 19:22] #1246 closed

[2021-06-22 22:07] falondarville commented on #855
I've created task DOCU-1575 to address this.

[2021-06-23 16:19] falondarville commented on #2851
`config.remove.json` is only available with the advanced plugin: https://docs.konghq.com/hub/kong-inc/response-transformer-advanced/

[2021-06-23 16:19] #2851 closed

[2021-06-23 19:55] #586 closed

[2021-06-25 18:14] lena-larionova commented on #2939
Hi @ccfishk ! Thanks for your submission, but we need more information to go on.

https://docs.konghq.com/kubernetes-ingress-controller/1.3.x/guides/using-kong-with-knative/#documentation

Can you please point out what is incorrect in the document that you linked?

Re:

What exactly are you asking for here? If you looking for instructions from the knative side, we generally don't document external

[2021-06-25 18:40] falondarville commented on #159
This issue has been addressed.

[2021-06-25 18:40] #159 closed

[2021-06-26 04:24] #1536 closed

[2021-06-28 22:08] falondarville commented on #908
We've added badge info to this project README. We're not current hosting assets but this allows plugin contributors to easily input their plugin name and then paste the code to their repo README. Thank you @peter-evans!

[2021-06-28 22:08] #908 closed

[2021-06-28 22:09] falondarville commented on #1030
Run instructions with version details have been made current.

[2021-06-28 22:09] #1030 closed

[2021-06-29 17:41] falondarville commented on #855
The ACL plugin docs have been updated.

[2021-06-29 17:41] #855 closed

[2021-06-29 21:35] falondarville commented on #585
Added a note about sending important data over https.

[2021-06-29 21:35] #585 closed

[2021-06-30 21:07] falondarville commented on #2911
Thank you @Yiyiyimu! We've updated the docs!

[2021-06-30 21:07] #2911 closed

[2021-07-01 00:00] HCloward commented on #2887
This issue is definitely addressed in @bungle 's PR

[2021-07-01 18:27] Tieske commented on #2996
Ok, so I moved the isssue to the docs repo.

[2021-07-01 21:47] ccfishk commented on #2939
Incorrect Part:

kubectl patch configmap/config-network \
  --namespace knative-serving \
    --type merge \
      --patch '{"data":{"ingress.class":"kong"}}'
"kong" is a default ingress.class name, and the value is configurable.

echo '
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-domain
  namespace: knative-serving
  labels:
    serving.knative.dev/release: v0.13.0
data:
  35.247.39.8

[2021-07-02 16:14] falondarville commented on #2382
@yolossn - thank you for your question. I will update the documentation to be less ambiguous. The following was confirmed by our Rate Limiting Advanced plugin engineering team.

As compared to the standard Rate Limiting plugin, Rate Limiting Advanced provides the additional configurations: `limit`, `window_size`, and `sync_rate`. It also has support for redis sentinel, redis cluster, and redis SSL

[2021-07-02 16:14] #2382 closed

[2021-07-07 14:25] mflendrich commented on #2904
Yes. Running the application with `--help` should do it.

[2021-07-15 15:27] #2887 closed

[2021-07-19 16:53] falondarville commented on #611
The latest documentation covers more specifics about regex paths in plainer language. Plus, it introduces the `regex_priority`  attribute. Please refer to https://docs.konghq.com/gateway-oss/2.5.x/proxy/#evaluation-order.

[2021-07-19 16:53] #611 closed

[2021-07-20 09:56] Zekeny opened #3038 "use"

[2021-07-20 09:59] Zekeny commented on #3038
![image](https://user-images.githubusercontent.com/20147368/126304552-cb4ec7c4-ca54-408c-b2d5-56d3e63b0e3f.png)

[2021-07-21 16:12] falondarville commented on #3038
@Zekeny, thank you. You have opened this issue in the Kong/kong repo: https://github.com/Kong/kong/issues/7575

[2021-07-21 16:12] #3038 closed

[2021-07-21 18:24] HugoSart opened #3042 "How to whitelist IP address in Rate Limiting?"
I can't find anywhere in the documentation if it's possible to whitelist a ipaddress from the limiting. This is something that would be good to have mainly when running production tests.

[2021-07-21 21:12] falondarville commented on #3042
@HugoSart, thank you! You can find our engineering community over at the Kong/kong repo Discussions tab.

[2021-07-21 21:13] #3042 closed

[2021-07-29 17:54] tjrivera opened #3068 "Kong Developer Portal Networking ToC broken/out of date"
### What part of the site needs attention?

https://github.com/Kong/docs.konghq.com/blob/main/app/enterprise/2.3.x/developer-portal/networking.md

### Summary

This page redirects to dev portal property references on the 1.5.x version of Kong

### Steps To Reproduce

https://docs.konghq.com/enterprise/2.3.x/developer-portal/using-the-editor/

<img width="1509" alt="Screen Shot 2021-07-29 at 1 53 3

[2021-07-29 18:40] rainest opened #3069 "Still-supported license loading methods no longer documented"
### What part of the site needs attention?
https://docs.konghq.com/enterprise/2.4.x/deployment/licenses/deploy-license/

### Summary
Loading licenses via the `KONG_LICENSE_DATA` environment variable is still supported in 2.4, but has been removed from documentation. We still recommend this method for Kubernetes deployments because they typically use environment variables whenever possible, and can

[2021-07-30 17:39] falondarville commented on #3069
Thank you, @rainest ! We have added this tab back in.

[2021-07-30 17:39] #3069 closed

[2021-07-30 20:51] falondarville commented on #3068
Thank you so much, @tjrivera. This has been resolved.

[2021-07-30 20:51] #3068 closed

[2021-08-06 01:38] avles opened #3092 "Example Requests for Event Hook Operations"
### What part of the site needs attention?

https://docs.konghq.com/enterprise/2.5.x/admin-api/event-hooks/reference/

### Summary

Documentation related to POST operations can be enhanced with example "requests".  Currently, it shows example of just responses.

https://docs.konghq.com/enterprise/2.5.x/admin-api/event-hooks/reference/#add-a-lambda-event-hook

### Steps To Reproduce

[2021-08-06 04:20] eddadjei opened #3093 "Missing Steps for GKE - “If you wish to use a static IP for Kong, you have to reserve a static IP address”"
### What part of the site needs attention?
totally ignored what needs to be done in pass a static IP to GKE => “If you wish to use a static IP for Kong, you have to reserve a static IP address”

### Summary

### Steps To Reproduce

[2021-08-09 17:11] falondarville commented on #3093
Hi @eddadjei - we don't have enough information to make this actionable. If you'd like to contribute to improvements of our docs, please submit a PR with the changes you're expecting!

[2021-08-09 17:11] #3093 closed

[2021-08-17 18:20] shaneutt commented on #2904
This is resolved in that the documentation is written, but there is a follow up for the final merge to `main`: https://github.com/Kong/kubernetes-ingress-controller/issues/1719

[2021-08-17 18:20] shaneutt commented on #2903
This is resolved in that the documentation is written, but there is a follow up for the final merge to `main`: https://github.com/Kong/kubernetes-ingress-controller/issues/1719

[2021-08-18 15:15] mflendrich commented on #2903
Additional acceptance criteria for closure of this item:
- [ ] a guide for UDP Ingress is present in the docs.konghq.com 2.0 beta branch
- [ ] a list of documentation bits on UDP Ingress is present in a comment of this issue.

[2021-08-18 15:19] mflendrich commented on #2904
The controller enablement flags are not accurately documented now - the docs site refers to the `EnablementStatus` type which is no longer the case (the flags are now `bool`s).

[2021-08-18 15:54] shaneutt commented on #2904
https://github.com/Kong/docs.konghq.com/pull/3120 makes a PR to the open PR to change the recently updates flags.

[2021-08-18 18:53] #2904 closed

[2021-08-24 18:27] #2903 closed

[2021-08-25 12:31] rahulrai-in opened #3138 "Illegal values.yaml in Kong Konnect guide"
The `values.yaml` file specified in the Kong Konnect dashboard has illegal values for the repository and tag parameters as follows.

![image](https://user-images.githubusercontent.com/11886524/130790639-c4bdd497-5831-4866-b84e-eee9aef76d80.png)

The correct values should be:

  repository: kong/kong-gateway
  tag: 2.4.1.1-alpine

[2021-08-25 16:28] lena-larionova commented on #3138
Hi @rahulrai-in , thanks for bringing this to our attention! I've filed a ticket with the Konnect team to address this issue. In the meantime, you can follow the documentation, which has the correct values: https://docs.konghq.com/konnect/runtime-manager/gateway-runtime-kubernetes/

[2021-08-25 21:41] laughingbiscuit opened #3141 "Invalid JSON in LDAP docs"
### What part of the site needs attention?

https://docs.konghq.com/enterprise/2.4.x/kong-manager/authentication/ldap/

### Summary
This JSON is not valid
[code]
as the last two properties have incorrect `,`s

### Steps To Reproduce

n/a

[2021-08-26 16:31] #3141 closed, assigned to nobody

[2021-08-27 21:20] falondarville opened #3151 "Make the docs left sidebar menu tab-friendly"
### Where is the problem?

Our left sidebar menu is not [WCAG 2.1 accessible](https://www.w3.org/TR/UNDERSTANDING-WCAG20/keyboard-operation-keyboard-operable.html). The current docs sidebar on docs detail pages are difficult to tab through. When I land on a topic and ENTER on my keyboard, I go to the page and doesn't open the submenu. Also, when I tab through, I lose FOCUS and don't know what I'm

[2021-08-27 21:35] falondarville opened #3152 "Fix Docker local setup for docs site local development"
### Where is the problem?

Our current Docker local setup does not work. Our GitHub workflow that uses the Docker container works, but we cannot develop locally using Docker.

**This works in GitHub Actions for link checking**: https://github.com/Kong/docs.konghq.com/blob/main/.github/workflows/build-test.yml

**Dockerfile**: https://github.com/Kong/docs.konghq.com/blob/main/Dockerfile

**docker-c

[2021-08-27 21:56] falondarville opened #3153 "Improve pop-out mobile left sidebar menu"
### Where is the problem?

On screen width 800px and under:

* On **Overview** pages, the left sidebar menu cannot be opened
* On **non-Overview** pages, the left sidebar menu can be opened but the icon is difficult to spot and not intuitive.

![Screen Shot 2021-08-27 at 2 52 35 PM](https://user-images.githubusercontent.com/22301405/131192560-0dd8e09f-105a-4546-b3a9-ab4a69eb9735.png)

Overview pag

[2021-08-27 22:04] falondarville opened #3154 "Improve 404 page"
### Where is the problem?

The 404 page needs some sprucing up.

Example 404 page: https://docs.konghq.com/404

### What is your suggestion?

* remove the left sidebar menu
* surprise us! Use your creativity to come up with a fun 404 page that represents Kong!

Note that you should leave the OPEN SOURCE breadcrumb.

### Code of Conduct and Community Expectations

- [X] I agree to follow this proje

[2021-08-27 22:05] lena-larionova opened #3155 "decK CLI docs: Improve the Go → Markdown doc generation"
### Where is the problem?

Our [decK CLI documentation](https://docs.konghq.com/deck/1.7.x/reference/deck/) is currently generated directly out of the Go code for decK. The output in the docs is the default markdown generated from a cobra command.

The default output for flags gets generated into one giant codeblock, which doesn't look great and is hard to read:

![Screen Shot 2021-08-27 at 2 59 4

[2021-08-27 22:32] falondarville opened #3156 "Copyedit the Proxy Reference page"
### Where is the problem?

https://docs.konghq.com/enterprise/2.5.x/proxy/

### What happened?

The Proxy Reference page could use a good copyedit!

### What did you expect to happen?

* clean up the content
* remove "Back to Top" links

### Code of Conduct and Community Expectations

- [X] I agree to follow this project's Code of Conduct
- [X] I agree to abide by the Community Expectations

[2021-08-30 08:42] renovate[bot] opened #3158 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] fix(deps): update non-major dependencies (`@segment/analytics-next`, `activesupport`, `liquid-c`, `nokogiri`, `puma`,

[2021-08-30 16:02] lena-larionova commented on #3158
The ignored or blocked PRs all have comments on why they were closed.

[2021-09-01 13:11] AshisRanjanDey opened #3164 "Add service command through admin cli is wrong in the documentation"
Page: https://docs.konghq.com/getting-started-guide/2.5.x/expose-services/

This command to add new service :
curl -i -X POST http://<admin-hostname>:8001/services \
  --data name=example_service \
  --data url='http://mockbin.org'

gives error:
{"fields":{"host":"required field missing","path":"should start with: /"},"name":"schema violation","code":2,"message":"2 schema violations (host: require

[2021-09-01 16:08] lena-larionova commented on #3164
Hey @AshisRanjanDey ! It looks like you're missing the hostname in your command. If you look at the doc that you're referring to, there's a placeholder for `<admin-hostname>`:

[code]
Replace that placeholder with your own hostname, e.g. `localhost`.

[2021-09-01 16:53] AshisRanjanDey commented on #3164
![image](https://user-images.githubusercontent.com/23585312/131711817-a0fae3e8-459c-43db-8237-763ae4e2b0fe.png)

I gave the local address. that is same as localhost. Got this as result.

[2021-09-01 19:39] lena-larionova commented on #3164
Never mind, I just updated my instance to use 2.5 and it looks like I'm getting the same error as you now. Can you please file this issue over in the code repo at [kong/kong](https://github.com/Kong/kong)? This looks like a change that we weren't aware of at docs.

[2021-09-02 04:15] AshisRanjanDey commented on #3164
I think the issue is with the url part. from the url it is taking the hostname and path. SO we have to give something for path after '/' .

when I run this command, works fine.
curl -s -X POST http://localhost:8001/services -d name=mock-service -d url=http://mockbin.org/request

[2021-09-02 20:03] vaughnbuttiw opened #3176 "Lots of broken links (to github) on "Using Kong for Kubernetes Enterprise" page"
### Where is the problem?

https://docs.konghq.com/enterprise/2.5.x/deployment/using-kong-for-kubernetes/

### What happened?

There are some (many? all?) links on the page https://docs.konghq.com/enterprise/2.5.x/deployment/using-kong-for-kubernetes/ to github that are broken (404).

Examples:
* https://github.com/Kong/kubernetes-ingress-controller/tree/main/docs
* https://github.com/Kong/kuberne

[2021-09-02 23:47] lena-larionova commented on #3176
@vaughnbuttiw Thanks for reporting this. Turns out there was a bigger issue at work: this page is a duplicate of https://docs.konghq.com/kubernetes-ingress-controller/ and shouldn't exist anymore. I did a pass over the rest of the docs as well to catch any remaining links to the old repo.

[2021-09-02 23:53] vaughnbuttiw commented on #3176
I think that removing the page https://docs.konghq.com/enterprise/2.5.x/deployment/using-kong-for-kubernetes/ is an acceptable solution. Because it is a duplicate. And a duplicate in, at best, an odd place.

[2021-09-03 07:14] AshisRanjanDey opened #3181 "Enable key auth plugin output is very odd"
curl -X POST http://<admin-hostname>:8001/routes/mock/plugins \
  --data name=key-auth

this command gives output:
{"message":"Not found"}
but works

[2021-09-03 12:00] shambhand opened #3182 "kong file-log "custom_fields_by_lua" doc does not specify correct version supported"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/file-log/

### What happened?

kong file-log "custom_fields_by_lua" doc does not specify correct version supported

this field is introduced in the kong >=2.4, however documentation does not reflect it

### What did you expect to happen?

The file-log plugin doc should specify which field is introduced in which version

### Code of Co

[2021-09-03 12:44] Bradamant3 commented on #3181
Hi @AshishThakur -- with apologies if this feels like giving you the runaround, but this isn't an issue we can address in the docs; it's part of the code so if you'd like to see it addressed please file in the Kong/kong repository. Thanks!

[2021-09-03 12:44] #3181 closed

[2021-09-08 16:06] falondarville opened #3189 "Announcing the Kong Summit Hackathon September 21-28 2021 :tada:"
### Announcing the Kong Summit Hackathon 2021

We're excited to share our [inaugural virtual hackathon](https://konghq.com/summit-hackathon/) in conjunction with Kong Summit 2021 with you all! :tada:

It runs from the 21st-28th of September and we've got 6 different categories for you, ranging from *best docs contribution* all the way through to *best presented demo*.

Every submission will earn a

[2021-09-08 17:00] khotaditya opened #3190 "Kong 2.1.2 routes are redirecting when use regex"
Hello,

I have 3 routes configured in a service using regular expression
route A: `/v3/catalog/(?<country_code>.+)/brands/(?<brand>.+)`
route B: `/v3/catalog/(?<country_code>.+)/brands/(?<brand>.+)/models`
route C: `/v3/catalog/(?<country_code>.+)/models/(?<model>.+)`

All routes having same host with following config:
"strip_path": false,
"preserve_host": false,
"regex_priority": 0,
"methods": [

[2021-09-08 17:17] #3176 closed

[2021-09-09 00:31] Sayanta66 commented on #3156
@falondarville I want to take this issue. Please assign this to me.

[2021-09-09 17:24] lena-larionova commented on #3190
Hi @khotaditya ! This repository is for Kong documentation, and the docs team is unable to help with technical questions.

Please ask this question in the Kong code repository: https://github.com/Kong/kong/discussions, or file an issue there: https://github.com/Kong/kong/issues.

[2021-09-09 17:24] #3190 closed

[2021-09-10 10:45] jgtr-coats opened #3201 "OpenID Connect Plugin documentation incorrect regarding config.auth_method userinfo support"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/openid-connect/#user-info-authentication

### What is your suggestion?

The Open ID Connect Plugin documentation for 2.0.0+ states that **userinfo** is a valid option for **config.auth_method**, however having tried this in Kong 2.3 which we are currently using and the latest version 2.5 both return this as being invalid.

I also can'

[2021-09-10 17:52] falondarville opened #3202 "Copyedit Correlation ID plugin documentation"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/correlation-id/#how-it-works

### What happened?

Some current language is not in alignment with our style guide and contains needless complexity. Additionally, there are some grammatical errors.

**Note**: Only edit content starting at the [**How it Works**](https://docs.konghq.com/hub/kong-inc/correlation-id/#how-it-works) section,

[2021-09-10 17:55] falondarville opened #3203 "Copyedit IP Restriction plugin documentation"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/ip-restriction/

### What happened?

The current language is not in alignment with our style guide and contains needless complexity. Additionally, there are some grammatical errors.

### What did you expect to happen?

Clear, simple language in accordance with our [style guide](https://docs.konghq.com/contributing/style-guide/).

Also

[2021-09-10 18:10] lena-larionova opened #3204 "Copyedit gRPC-Web plugin documentation"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/grpc-web/

### What happened?

The current language is not in alignment with our style guide and contains needless complexity. Additionally, there are some grammatical and formatting errors.

File to edit: https://github.com/Kong/docs.konghq.com/blob/main/app/_hub/kong-inc/grpc-web/index.md#purpose
Only edit the markdown, not the YAML

[2021-09-10 18:10] falondarville commented on #3203
Closing due to all content being generated via YAML.

[2021-09-10 18:10] #3203 closed

[2021-09-10 18:21] HCloward opened #3205 "Test and edit Kong Gateway (OSS) Quickstart guide"
### Where is the problem?

https://docs.konghq.com/gateway-oss/2.5.x/getting-started/quickstart/

### What happened?

The Kong Gateway (OSS) Quickstart guide has not been tested or edited for a while and it could use some attention. It would be really helpful if someone were to test the steps to be sure they work as expected and look for any wording or grammar issues that might also need addressin

[2021-09-10 20:03] lena-larionova opened #3206 "Copyedit Rate Limiting plugin documentation"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/rate-limiting

### What happened?

The current language is not in alignment with our style guide and contains needless complexity. Additionally, there are some grammatical and formatting errors.

File to edit: https://github.com/Kong/docs.konghq.com/blob/main/app/_hub/kong-inc/rate-limiting/index.md

**Note:** Only edit content starti

[2021-09-10 20:12] falondarville commented on #3156
Great @Sayanta66!! Thanks so much, I've assigned this Issue to you! Please note that this is part of the Summit Hackathon 2021 (Sept 21-28) and there's more info here: https://github.com/Kong/docs.konghq.com/issues/3189.

[2021-09-11 05:54] Sayanta66 commented on #3156
Thanks a lot @falondarville

[2021-09-13 19:45] chazdnato opened #3211 "Admission Controller self-signed cert requires SAN"
### Where is the problem?

https://docs.konghq.com/kubernetes-ingress-controller/1.3.x/deployment/admission-webhook/

### What happened?

When following the instructions (or downloading the code from `https://bit.ly/install-kong-admission-webhook`), I get the following error when any call touches the admission controller:

[code]

### What did you expect to happen?

This error is a result of how t

[2021-09-13 19:49] lena-larionova commented on #3211
@Kong/team-k8s Can you take a look at this issue and verify that the fix is one we should document?

[2021-09-14 00:26] vaughnbuttiw opened #3214 "Incorrect heading level in documentation for OAuth 2.0 Authentication plugin"
### Where is the problem?

https://docs.konghq.com/hub/kong-inc/oauth2/#client-credentials

### What happened?

It looks to me that the heading levels for https://docs.konghq.com/hub/kong-inc/oauth2/#authorization-code and https://docs.konghq.com/hub/kong-inc/oauth2/#client-credentials are such that "Authorization Code" _is part of_ "Client Credentials".

By my understanding this is wrong.

### Wh

[2021-09-14 01:28] vaughnbuttiw commented on #3214
I think the "Client Credentials" heading should be dropped to match "Authorization Code"

[2021-09-14 18:40] Sayanta66 commented on #3202
Can you assign this to me? @falondarville

[2021-09-14 18:41] Sayanta66 commented on #3206
Can I take this issue @lena-larionova ?

[2021-09-14 18:41] Sayanta66 commented on #3206
Please assign this issue to me

[2021-09-14 20:14] falondarville commented on #3156
Closing this out as it's been resolved. Thank you, @Sayanta66!

[2021-09-14 20:14] #3156 closed

[2021-09-15 01:00] Sayanta66 commented on #3204
Can I take this? @lena-larionova

[2021-09-15 20:22] falondarville commented on #3202
Hi @Sayanta66, yes. I'm going to hold off on assigning the other Issues all to you right now as others may want to contribute! But I can assign them one at a time as you get through them! Thanks so much for your contributions. 🎉

[2021-09-15 23:20] rainest commented on #3211
@lena-larionova the `-addext` suggestion is valid and is what we should add to docs. Up to you whether or not it makes sense to include a disclaimer for OS X `openssl` tool version info or not--hopefully OS X bumps their default toolset soonish, but I'm not a Mac person and don't know what timelines for that are/typical dev environment expectations around installing newer versions of TLS utils.

[2021-09-17 08:23] hesmoh opened #3226 "the stable/prometheus and stable/grafana helm charts repo are deprecated"
Hi everybody!

### Where is the problem?

https://docs.konghq.com/kubernetes-ingress-controller/1.3.x/guides/prometheus-grafana/

### What happened?

I want to monitor my `kong/kubernetes-ingress-controller` with `prometheus` and `grafana`.
in the documentaion of `KIC` they did this using `helm` , but the problem is helm charts of `prometheus` and `grafana` used in the installation guide are **DEP

[2021-09-20 17:27] lena-larionova commented on #3226
@Kong/team-k8s can you please take a look? I checked v2.0 docs ([here](https://kic-v2-beta--kongdocs.netlify.app/kubernetes-ingress-controller/2.0.x/guides/prometheus-grafana/)) and it looks like they refer to the same Helm charts.

[2021-09-20 19:20] shaneutt commented on #3226
@lena-larionova this is a follow up to this discussion: https://github.com/Kong/kubernetes-ingress-controller/discussions/1827

The long and short is that they _are_ deprecated and while we may have a little bit of runway we need to test and document integrating against other non-deprecated Prometheus deployment mechanisms (such as the Prometheus operator which is linked in the discussion thread).

[2021-09-22 10:38] Sayanta66 commented on #3204
I want to take this issue @falondarville and @lena-larionova

[2021-09-22 13:59] AninditaBasu commented on #3206
Hi @lena-larionova
May I take up this issue? I am a writer who lives and breathes style guides, and I'd love to contribute, if I may, for the 2021 hackathon.

[2021-09-22 16:23] lena-larionova commented on #3206
Hi @AninditaBasu, thanks for your interest in contributing to our docs! I've assigned this issue to you now, all yours.